html {
}
body {
  font-family: 'Open Sans', sans-serif;
}
.footer {
  padding-top: 10px;
  background-color: #222;
  color: #efefef;
  font-size: 12px;
}

/* foto do autor */
.autor {
	width: 100px;
	height: 100px;
/*	border-radius: 75px;*/
    margin: 20px auto;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/autor.jpg) center no-repeat;
    border: 3px solid rgb(51,122,183)
}
/* logotipo */
.logotipo {
	width: 100px;
	height: 100px;
/*	border-radius: 75px;*/
    margin: 20px auto;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/logo.svg) center no-repeat;
    background-size: 80px 80px;  
    border: 3px solid rgb(51,122,183)
}
    
.container {
    max-width: 960px;
}
.btn-lg {  
  padding: 14px 20px;
}

/* index.html */
.features .glyphicon {
    font-size: 32px;
}
.navbar-toggle .icon-bar {
  background-color: #c8e6f3;
}
@media only screen and (max-width: 768px) {
  .dropdown-menu>li>a { 
    color: #d8e6f3;
  }
  .dropdown-header { 
    color: #99D6FF;
  }
}
@media only screen and (max-width: 480px) {
  .navbar-brand {
    font-size: 14px;
  }
}
@media only screen and (max-width: 320px) {
  .navbar-brand {
    font-size: 10px;
  }
}

/* breadcrumb */
.breadcrumb>li+li:before {
  color: rgba(204, 204, 204, 1); 
  content: "\003E\00a0";
}
.breadcrumb .active a {
  pointer-events: none;
  cursor: default;
  color: gray;
  text-decoration: none;
}

/* carousel */
.carousel-caption {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
.item {
  background: #204d74;    
  text-align: center;
  height: 550px;
}
.item.homicidio {
  background: #001F4C;    
}
.item.veiculo {
  background: #B26B00;
}
.item.veiculo a {
  color: #663D00;
}
.carousel-caption h1 {
  font-weight: bold;
}
.carousel-caption p {
/*  font-size: 1.3em;*/
/*  font-weight: bold;*/
}
.carousel-caption .taxas-preambulo {
  font-size: 1em;
  color: #bbb; 
  font-weight: normal; 
}
.carousel-caption .taxas-valor {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 2.0em;
  line-height: 1em;
  color: #E6E6FF; 
}
.carousel-caption .taxas-preambulo span {
  /*color: red;*/
  display:block;
  line-height: 1.5em;
}
.carousel-caption .taxas-valor.taxas-quem-vive-em {
  font-size: 1.0em;
  line-height: 0.2em;
  font-weight: normal; 
}
.carousel-caption .taxas-valor.taxas-regiao {
  font-size: 2.2em;
}
.carousel-caption .taxas-valor.taxas-vitimas {
  font-size: 2.6em; 
}
.carousel-caption .taxas-valor.taxas-crime {
  //line-height: 0;
}
.carousel-caption .taxas-share {
  //line-height: 3.0em;
  //font-size: 1.0em; 
}
.carousel-caption .taxas-footer {
  font-size: 0.8em;
  color: #bbb;
}
.carousel-caption .taxas-autor {
  font-size: 0.7em;
  color: #bbf;
}
@media only screen and (max-width: 996px) {
  .same-height-if-possible {
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-caption {
    font-size: 16px;
  }
}
@media only screen and (max-width: 470px) {
  .carousel-caption {
    font-size: 14px;
  }
}
@media only screen and (max-width: 310px) {
  .carousel-caption {
    font-size: 12px;
  }
  .carousel-caption .taxas-valor {
/*    font-size: 1em;*/
  }
}

/* entenda.html*/
.formula-sentimentos {
  padding: 50px 0;
  /*background-color: #777;*/
}
.entenda-observacao {
  color: dimgray;
  font-size: 0.8em;
}
.circulos-pessoais .casa {
  border: 3px solid red;
}
.circulos-pessoais .familiar {
  border: 3px solid orange;
}
.circulos-pessoais .conhecido {
  border: 3px solid yellow;
}
svg {
/*  fill: red;*/
/*  border: 5px solid currentColor;*/
}

/* blog */
.post h1 a {
  color: #444;
}
.meta {
  margin-bottom: 1em;
  color: #777;
}
.meta li {
  border-right: 1px solid #ddd;
}
.meta li:last-child {
  border-right: none;
}

.about .fa-rocket {
  font-size: 64px;
}


/* https://medium.com/@erikdkennedy/7-rules-for-creating-gorgeous-ui-part-2-430de537ba96#.y9ca1njvl
*/


.blog-header {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.blog-header img {
}
.blog-header h1 {
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );  
  padding: 50px 15px 15px 15px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
  text-align: left;
}
.blog-header-without-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.blog-header-without-image h1 {
  padding: 50px 15px 15px 15px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
}
blockquote a {
  display:block;
  //margin-top: -10px;
  //padding-bottom: 20px;
  text-align: right;
  font-size: 0.7em;
}


/* Navigation */
header.navbar {
  margin: 0;
}
.navbar {
  background-color: rgb(51,122,183);
}
.navbar a {
  color: #d8e6f3;
}
.navbar a:hover {
  color: #fff;
}
.nav>li>a:hover, 
.nav>li>a:focus,
.open>a, 
.nav .open>a:hover, 
.nav .open>a:focus,
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
  background-color: #204d74;
  color: #fff;
}
.eventos {
  margin: 10px;
  display: inline;
  align: center;
}
.dicionario {
  font-size: 0.9em;
  margin: 20px 0 20px 0;
  color: #204d74;
}
