<div class='row text-center'>
  <div class='col-sm-12'>
    <h4>Eventos dos quais contribuimos ou participamos</h4>
    <div class="eventos">
      <div  class="eventos">
        <img src="images/participamos-do-dia-do-bem.png" alt="Participamos do Dia do Bem" height="100">
      </div>
      <div class="eventos">
        <img src="images/participamos-da-audiencia-tce.jpg" alt="Participamos da Audiência sobre Segurança Pública do Tribunal de Contas do Estado do Rio Grande do Sul" height="100">
      </div>
      <div class="eventos">
        <img src="images/participamos-do-simposio-pucrs.jpg" alt="Participamos do 1º Simpósio Nacional Sobre a Reforma do Sistema de Segurança Pública" height="100">
      </div>
      <div class="eventos">
        <img src="images/participamos-do-conapef.jpg" alt="Participamos do 16º CONAPEF" height="100">
      </div>
    </div>
  </div>
</div>