<!-- Logo -->  

<!--
<div class='row text-center'>
  <a href="https://plus.google.com/+VladimirBrasil?rel=author"><img src="images/logo.svg" alt="Google+" width="100px"></a>
  </div>
-->
    
  <div class='footer'>
    <div class="container">
      <div class='row text-center'>
        <div class='col-sm-12'>
          <h4>Quem somos</h4>
          <p>Violencia.click busca <b>universalizar</b> o entendimento de informações sobre segurança.  </p>
        </div>
      </div>
      <div class='row  text-center'>
        <div class='col-sm-6'>
          <h4>Autor</h4>
          <a href="https://plus.google.com/+VladimirBrasil?rel=author" target="_blank"><div class="autor"></div></a>          
          <p class="curriculo">Vladimir Bergier Dietrichkeit é membro do Grupo de Trabalho para a Reestruturação da Polícia Federal junto ao Ministério do Planejamento, Orçamento e Gestão e Ministério da Justiça. Também é membro da Fundação Brasileira de Ciências Policiais a partir de 2015. Vladimir quer calcular se familiares podem ser atingidos por crimes ou epidemias.</p>          
        </div>
        <div class='col-sm-5 col-sm-offset-1'>
          <h4>Desafio</h4>
          <div class="logotipo"></div>          
          <p>Vladimir quer traduzir para cada vez mais pessoas - das mais variadas classes - como as taxas para cada 100.000 habitantes afetam suas casas, seus familiares, seus conhecidos. Esse é o desafio de inovação do novo método de apresentação da informação sobre violência calculado por <b>violencia.click</b>.</p>        
        </div>
      </div>
      
      <div class='row text-center'>
        <div class='col-sm-6'>
          <h4>Compreensão</h4>
          <p>Violencia.click acredita que <b>todos</b>, mesmo aqueles que não entendem matemática ou não trabalham diretamente com segurança pública, precisam entender o que está acontecendo em sua região ou segmento social.</p>
        </div>

        <div class='col-sm-5 col-sm-offset-1'>
          <h4>Cobrar e elogiar</h4>
          <p>Violencia.click aposta que o entendimento universal sobre segurança ajudará mais pessoas a <b>compreender, cobrar e elogiar</b> políticas de segurança.</p>
        </div>


      </div>
      <div class="row text-center"
           itemscope 
           itemtype="http://schema.org/Person">
        <div class='col-xs-12'>
          <br><p><a href="https://twitter.com/ViolenciaClick" class="twitter-follow-button" data-show-count="false" data-lang="pt">Seguir @ViolenciaClick</a></p>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          <p>por <span itemprop="name">Vladimir Bergier Dietrichkeit</span> 
          <!--<a href="https://plus.google.com/+VladimirBrasil?rel=author"><img src="images/Google_plus.svg" alt="Google+" width="16px"></a> | -->
          | <a href="mailto:fale@violencia.click"  itemprop="email">fale@violencia.click</a></p>          
        </div>
      </div>      
    </div>

  </div> 