<div class='formula-sentimentos row text-center'>
    <img src="images/violenciaperto-formuladesentimentos.svg" alt="Fórmula de sentimentos" width="150px">
  <h1 class='well'>Uma fórmula para nossos sentimentos.</h1>
  <p>
    O artigo de Vladimir Bergier Dietrichkeit transforma frias contagens para cada cem mil habitantes em sentimentos que podem afetar nossos amigos, nossos familiares, nossa casa. </p>
  <h3 class='well'>Afinal de contas, não é o que realmente queremos saber?
  </h3>
</div>
