<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NPQLCM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NPQLCM');</script>
<!-- End Google Tag Manager -->  

<header class='navbar navbar-static-top'>
  <nav class='container' role='navigation'>
    <div class='navbar-header'>
      <a href='index.html' class='navbar-brand'>Violência que atinge nossos círculos pessoais</a>

      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
      <!-- <li><a href='#'>Em breve: Calcule suas taxas</a></li> -->
      <li class='dropdown'>
        <a href='#' data-target='#' class='dropdown-toggle' data-toggle='dropdown'>Sobre <span class='caret'></span></a>
        <ul class='dropdown-menu' role='menu'>
          <li><a href='index.html'>Previsões</a></li>
          <li><a href='circulos_pessoais.html'>Casa, família, amigos</a></li>
          <li><a href='proxima_ou_distante.html'>A violência está perto?</a></li>
          <li class='divider'></li>
          <li><a href='http://www.revistacalculo.com.br/um-boeing-737-caindo-todo-dia/' target="_blank">Estamos na revista Cálculo!</a></li>
          <li><a href='http://artigo.violencia.click' target="_blank">Leia a Tese...</a></li>
          <li class='divider'></li>
          <li><a href='homicidios_100_porcento_investigados.html'>Artigo: Homicídios 100% investigados</a></li>
          <li class='divider'></li>
          <li><a href='contato.html'>Fale Conosco</a></li>
          <li class='divider'></li>
          <li><a href='https://twitter.com/ViolenciaClick'>Twitter</a></li>
          <!-- <li><a href='#'>Em breve: Facebook</a></li> -->
          <!-- <li><a href='#'>Em breve: Google+</a></li> -->
        </ul>
      </li>
    </ul>
  </nav>
</header>