---
title: Polícia cidadã e direitos humanos. Uma prática?.
date: 2016-03-13
tags: cidadania
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>Polícia cidadã e direitos humanos. Uma prática?</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2016-02-28"><br><span class="artigo-data">Porto Alegre, 13 de março de 2016.</span>
    </p>
    <h2 class='text-left'>
      Será mesmo longo o caminho de polícias atuais brasileiras para polícias cada vez mais cidadãs? 
    </h2>
    <br>
<p class="well" style="text-align:left; font-size:100%">
Será que este caminho não é ensinável?
</p><p>
Uma coisa é deixar viver, em uma atuação policial, enquanto se manda “abrir as pernas e colocar as mãos na parede”. 
</p><p>
Estar-se-ia respeitando o direito humano à vida, pode pensar o policial. 
</p><p class="well">
A dignidade humana, cerne da proteção ao popularmente chamado “direitos humanos”, não se restringe ao direito de viver. 
</p><p>
Ilustremos. É possível, por exemplo, causar tantos males a uma menina indefesa em uma comunidade violenta, por tanto tempo, que para esta abusada, maltratada, sem-pai-nem-mãe-pertos menina, estar viva já signifique muito pouco, muito menos do que uma menina que tenha recebido muito carinho, sincero, com família e amigos bastante presentes, que consigam proteger com facilidade a dignidade da menina, por exemplo em uma comunidade como o bairro Leblon no Rio de Janeiro. (Note que, inversamente, o abuso e maus-tratos poderia ocorrer no Leblon, um bairro rico, e a injeção necessária de carinho poderia ocorrer em uma comunidade pobre, pois estamos, na verdade, a falar de carinho, não de dinheiro).
</p><p>
Ambas as meninas - a dignamente tratada, a indignamente tratada - estariam “vivas”.
</p><p>
Não foi isso que a Conferência Mundial sobre Direitos Humanos tinha em mente ao defender a dignidade humana. Não basta apenas estar vivo, concluiram os conferencistas, em nome da população mundial, em junho de 1993.
</p><p class="well">
Desafortunadamente, alguns policiais ainda estão na fase de confundir dignidade com direito à vida (tão-somente). 
</p><p>
Como a polícia é seus policiais, podemos dizer que desafortunadamente polícias ainda estão na fase de confundir dignidade com direito à vida (tão-somente). Porque seus policiais assim o fazem - não adiantando que o “chefe-do-estado-maior” divirja, ou que um papel em Viena ou página da Wikipédia diga outra coisa.
</p><p>
Ainda assim, há o que se celebrar. Ainda é melhor um policial que procura respeitar o direito à vida do que aquele policial que mata mesmo sem os requisitos da legítima defesa ou demais excludentes da ilicitude, ainda que estas justificativas sejam alegadas, invariavelmente, no momento do relatório.
</p><p>
Dignidade, porém, é mais que vida. 
</p><p>
Como ensinar? 
</p><p class="well">
Seria como se todo policial devesse tratar a todos, sempre que possível e sem abrir mão da segurança, como trataria a "sua própria mãe" (supondo uma relação amigável, de respeito e proteção com a mãe).
</p><p>
Será que vemos isso na atuação policial?
</p><p class="well">
Caso isto ainda não seja habitual, temos bastante território para melhorar, e muito, a atuação policial, no sentido de ter policiais e, portanto, Polícias, Democráticas e Cidadãs. 
</p><p>
Note que as pessoas são apaixonadas por serem bem-tratadas. Ilustremos. 
</p><p>
Gerentes de banco confidenciam que pessoas idosas vão ao banco, quase todo dia, possivelmente sem tanta necessidade real (os boletos não são mensais?), provavelmente para receber atenção. Que tipo de atenção? Aquele bom atendimento que os gerentes são treinados para, e muitos deles efetivamente gostam de, propiciar às pessoas que ali frequentam, inclusive as pessoas de maior idade.
</p><p>
Podemos ser um pouco mais “técnicos”. “O sucesso nas vendas depende de bom atendimento” é documento fornecido pelo próprio <a href="http://www.sebrae.com.br/sites/PortalSebrae/artigos/O-sucesso-nas-vendas-depende-de-bom-atendimento" target="_blank">SEBRAE</a>, com objetivo de mostrar como os clientes gostam de ser atendidos. “Os atendentes devem esboçar um sorriso, demonstrar cortesia e se colocar à disposição (...)”; “o atendente deve ouvir as necessidades e as opiniões dos clientes”. Sorrir, ser cortês (gentil!), colocar-se à disposição. Ouvir. As pessoas adoram ser ouvidas (falar todos querem; poucos escutam).
</p><p class="well">
O desejo e atração humana por receber sorrisos, cortesia (gentilezas), saber que pode contar com o outro - que se coloca à disposição, receber atenção (ser escutado) não é diferente com as demais idades. 
</p><p>
Crianças adoram atenção. Até mesmo os adolescentes, que precisam viver em um mundo de aparência mais "autista" - quando ignoram os mais velhos e buscam aprender e envolver-se entre eles mesmos -, até mesmo os adolescentes, com um pouco mais de habilidade, aprendem a aceitar receber conselhos, e atenção, de um adulto que foi várias vezes, obstinadamente, gentil com o adolescente ou o grupo.
</p><p>
Como poderíamos descrever (policiais, ou seus chefes, adoram manuais!) os gestos e falas que se deve utilizar para ser gentil e aceito em grupos e comunidades? 
</p><p>
Esta tarefa é tao difícil quanto descrever detalhadamente como atender uma gentil idosa no banco. 
O manual do SEBRAE é um bom “ponto de partida”. Mas não é tão necessário. Até porque gentileza precisa vir mais de perto do coração do que de linhas de texto decoradas, possivelmente por medo de demissão ou necessidade de promoção. O tremer do olho, o timbre da voz, denotam quando se está falando mais sinceramente, ou então menos sinceramente, sentindo aquilo que se está falando. Melhor desistir de tentar controlar e, genuinamente, acreditar nas gentilezas que diz. Certamente é verdade que gentilezas causarão bem-estar enorme em que recebe as gentilezas, isto não serve de estímulo a acreditar nas gentilezas que se pratica?
</p><p class="well">
Com raríssimas exceções (doenças psíquicas?) nós sabemos como ser gentis, quando precisamos. 
</p><p>
Bastaria treinar e exercer esta capacidade, que temos, em pelo menos dois cenários adicionais, totalizando três cenários, para realmente modificarmos toda uma maneira de interagir. 
</p><p>
Note que os dois primeiros cenários valem para toda a vida, para todos os nossos relacionamentos, enquanto somente o terceiro cenário é especificamente adaptado para o âmbito da atuação policial:
</p>
<h3 class='text-left'>
  1. Gentileza natural
</h3>
<p>
Ser gentil quando precisamos.
</p><p>
Com nossas mães, em situações formais, regras de etiqueta.
</p>
<h3 class='text-left'>
  2. Injeção de gentileza
</h3>
<p>
Ser gentil quando não precisamos, e até mesmo quando não estão sendo gentis conosco. 
</p><p>
No decorrer de buscas e apreensões, com pessoas mal-educadas ou bravas.
</p><p>
Este cenário é o mais difícil. Requer obstinação e auto-confiança ao (ser o primeiro a) injetar gentileza.
</p>
<h3 class='text-left'>
  3. Gerenciamento do perigo 
</h3>
<p>
Quando é preciso gerenciar o perigo ao mesmo tempo que se tenta ser educado.
</p><p>
Em entradas forçadas; no início, até a estabilização, em abordagens. 
</p><p>
Requer técnicas de segurança. 
</p>
<h2 class='text-left'>
  Como praticar este cenários?
</h2>
<h3 class='text-left'>
  1. A prática da gentileza natural
</h3>
<p>
O primeiro cenário é natural, já ocorre para a maioria dos policiais. Ser gentil com quem é gentil.
</p>
<h3 class='text-left'>
  2. A prática da injeção de gentileza
</h3>
<p>
O segundo cenário requer grande esforço psicológico. Ou seja, requer o maior esforço humano, via de regra: adaptar ou treinar comportamento. Mas é treinável. Ser gentil com quem não é gentil. Observo em minhas atuações em particular, que sendo repetidamente, insistentemente, gentil mesmo com quem usualmente não é gentil, em algum momento - raramente no mesmo dia - esta pessoa “baixa sua guarda” e aceita as gentilezas, passando a tratar bem reciprocamente, retribuindo as gentilezas. Se, por exemplo, sou um policial que atuo em determinado território ou comunidade, de maneira fixa, cada conquista como esta será uma conquista valorosa, pois afetará o meu dia-a-dia, sempre, podendo inclusive abrir portas de relacionamento com mais pessoas. A obstinação pode fazer efeito mesmo que demore dias, às vezes semanas, para determinadas pessoas - tradicionalmente, conhecidamente pouco afetas a gentilezas -, “baixarem a guarda” e passarem a aceitar o convívio gentil. Neste cenário em particular, vale uma máxima: aquelas pessoas que mais são mal faladas, mais precisam receber gentileza. Pois esta pessoa em particular, via de regra, é “carente” de gentilezas, mal-tratada por toda a comunidade, que a considera arredia. É também essa pessoa que não acredita em gentilezas, nos primeiros momentos - “por que esta pessoa, ou este policial, estaria sendo gentil COMIGO? Ele deve estar querendo algo em troca…”. Por isso que a obstinação em injetar gentileza pode ser profícua, realmente vencendo barreiras, após muita insistência, deixando o tempo aproximar a pessoa e a confiança se estabelecer, genuinamente. Uma frase que ajuda a entender o valor deste esforço é “ser gentil com outro gentil é muito fácil!”. Não requer habilidade específica. É neste ponto que policiais e, na verdade, todos, poderiam ser treinados para vencer este obstáculo e passarem a injetar, mesmo onde não existe, gentileza.
</p>
<h3 class='text-left'>
  3. A gentileza no gerenciamento do perigo
</h3>
<p>
O terceiro cenário requer apenas esforço técnico, que considero mais simples de aprender, ainda que seja sempre um cenário mais letal, em relação ao segundo cenário, que requer esforço psicológico. Um grande segredo do terceiro cenário está em agir com a firmeza e segurança necessárias, bastando, após a situação estar estabilizada, justificar, desculpar-se, explicando que não haveria outro modo de proteger a vida do policial, e de todos, a não ser entrando rapidamente e com firmeza de movimentos, na casa, no veículo, na abordagem. Por incrível que possa parecer, venho reparando que o pedido de desculpas com a sincera explicação de sua necessidade é facilmente absorvido pelos integrantes da casa, do veiculo, do grupo sendo abordado. Ou seja, não é necessário entrar com menos força ou menos agilidade nas abordagens. O segredo pode estar nas gentilezas e sincero oferecimento de explicações após o cenário estar estabilizado - habilmente mantendo a segurança durante todo o tempo.
</p>
<h2 class='text-left'>
  Dignidade?
</h2>
<p>
É assim, na prática da interação entre policiais e população, que representam a interação entre a Polícia e a população, que vejo a dignidade (não somente a vida!) da pessoa sendo respeitada a ponto de transformar, cada vez mais, as polícias em polícias mais cidadãs.
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_homicidio_zero"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

