---
layout: "layout"
title: "A terrível semana gaúcha de 40 homicídios."
tweet: "A terrível semana gaúcha de 40 homicídios."
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>A terrível semana gaúcha de 40 homicídios</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2015-09-08"><br><span class="artigo-data">Porto Alegre, 8 de setembro de 2015.</span>
    </p>
    <h2 class='text-left'>
      Com 40 homicídios, feriadão de 7 de setembro é o mais violento do ano no Rio Grande do Sul.
    </h2>
    <br>
    <p class="well">
No Rio Grande do Sul, a greve dos policiais civis e militares devido a falta de pagamento de salários tem ajudado a aumentar o número de notícias na mídia sobre o aumento de insegurança. 
</p><p>
O feriado de 7 de setembro por exemplo recebeu manchetes como esta: "Com 40 homicídios, feriadão de 7 de setembro é o mais violento do ano".
</p><h3>
Quem disse que instituições militares não páram?
</h3><p>
Antes de mais nada, sempre é válido aproveitar os exemplos reais para lembrar que ao proibir a greve, a militarização da PM não impede a greve - apenas proibe a negociação, sem greve, antes de ocorrer a greve. 
</p><p>
A "greve", quando precisa acontecer, acontece. Habitualmente a "greve", quando proibida por lei de ocorrer, ocorre entre aspas. A maneira mais comum de implementar greve quando ela não é admitida é "ficar sabendo" que as respectivas esposas e familiares estão impedindo os policiais militares de saírem ao trabalho. Mas também param à força se precisarem, como ocorreu no nordeste há pouco tempo. É sempre importante aproveitar notícias da vida quotidiana para demonstrar que nem mesmo a militarização das polícias impede que a força policial pare de trabalhar mas, sim, apenas impede a negociação sindical. Negociação sindical que, esta sim, deveria ser permitida, pois pode, muitas vezes, prevenir a greve. Mas a negociação sindical é proibida aos policiais militares. Só parando mesmo para se fazerem ouvidos. 
</p><p class="well">
Instituições militares sempre conseguem uma maneira de parar. Apenas se pula a etapa da negociação, pois não há o direito sindical de negociação em instituições militares. 
</p><p>
Existe uma tese que demonstra que diferentemente dos exércitos, 99% da ação policial é não militar. Claro que a tese prossegue dizendo que uma organização deve se organizar de acordo com a maior parte de suas ações, portanto, conclui que qualquer instituição policial deveria ser não militar. Como segunda conseqüência, ainda daria o direito de se sindicalizar aos policiais hoje militares, o que pode não interessar muito para a população não policial, mas é debate de interesse para os policiais. A tese prossegue lembrando que o 1% de grupos dentro de cada polícia que realmente possui organização e atuação ao estilo militar, como grupos de operações especiais, seguiriam existindo, não importando que a organização como um todo seja não militar. É fácil demonstrar ao saber que tanto os GOEs, quanto os BOES, existem e atuam sem impedimentos, tanto em polícias civis, quanto em polícias militares. Por isso a tese defende polícias não militarizadas, o que estaria em sintonia com 99% dos desafios de atuação da rotina policial.
</p><p>
Voltemos ao assunto principal.
</p><h3>
Assassinatos
</h3><p>
Sem rodeios, vamos a alguns números. 
</p><p class="well">
Ocorrem dois mil (2000) assassinatos por ano no Rio Grande do Sul. 
</p><p>
O ano possui 53 semanas. Temos, portanto, em média, 37 assassinatos para cada semana. 
</p><p>
Sabemos que os assassinatos ocorrem em sua maioria nos finais de semana, incluindo feriados. 
</p><p>
Peço então desculpas por não navegar no coro que grita que o número de mortes espantosamente tenha aumentado nestas últimas semanas. 
</p><p class="well">
Toda semana ocorrem 37 assassinatos aqui no RS. Há muitos anos têm sido assim. 
</p><p>
O que eu poderia dizer, sabendo desta informação?
</p><p>
Resolvi escrever este artigo de emergência. 
</p><p>
Se 40 mortes na semana está sendo considerado muito - e eu só posso concordar - então nós deveríamos estar escrevendo isso em todas as semanas anteriores, neste ano, no ano passado, no ano anterior... 
</p><p class="well">
Temos índices recordes de violência no Brasil há pelo menos 30 anos. 
</p><p>
Também já podemos ir preparando os repórteres para dar a mesma notícia nas semanas que estão por vir. 
</p><p class="well">
37 assassinatos é o que, em média - ainda mais nas semanas que incluem feriados - ocorre em toda e qualquer semana gaúcha.
</p><p>
Claro que, além de ocorrerem predominantemente nos finais de semana - e feriados -, os assassinatos ocorrem predominantemente nas regiões vulneráveis, mais simples. 
</p><p>
Isto pode ser uma pista de porque conseguimos "não enxergar" que ocorrem 37 mortes por semana há tantos anos, toda semana.
</p><p class="well">
Nós enxergamos quando "morre um empresário" ou "houve um assassinato no Menino Deus". 
</p><p>
Mas isso é raro. São 20 vezes menos latrocínios (roubos seguidos de morte). Apenas 100 latrocínios por ano em todo o Rio Grande do Sul: índices dignos de países ricos. 
</p><p>
Morte na periferia não é assim. Ao contrário. Abunda. É número maior que de guerra em qualquer parte do mundo. Mas estas mortes assassinadas nós toleramos, de alguma maneira quietos, há muitas, muitas semanas, há pelo menos 30 anos.
</p><p class="well">
Onde estão as notícias dos 37 assassinados em cada uma de todas as semanas anteriores, ao longo dos últimos anos?
</p><p>
Talvez nos jornais mais simples. Mas o que é comum passa desapercebido. Por isso me causa estranhamento esta semana em particular ter sido notícia nos maiores jornais, tendo um número de assassinatos dentro da média de todos os anos anteriores.
</p><p>
Nos noticiários sobre bolsa de valores e economia é muito comum se comparar com o mesmo período do ano anterior. Porém os números da economia são mais fáceis de acessar do que o número de assassinados. Mas vale o conceito. Depararíamos o fato de que os números destas semanas têm sido próximos da média dos anos anteriores: 37 mortes por cada semana, concentradas nos finais de semana, mais ainda em semanas quando há feriados. 2000 por ano. 53 semanas.
</p><p>
Assassinatos habituais que já não vemos.
</p><p>
Temos o mesmo silêncio com as mortes na periferia quanto silenciamos ao não exigirmos que garis usem cinto de segurança. Alguém já reparou que garis não precisam usar cinto de segurança? É ainda pior: fazemos vista grossa sobre eles andarem de pé na traseira dos caminhões de lixo em movimento. Em vez de cinto de segurança, degrau escorregadio e pressa. 
</p><p>
Alguém já viu um gari escorregar apenas uma vez - normalmente a última vez - ao subir, sempre correndo, no caminhão de lixo e ter sua cabeça eventualmente esmagada? Terá de ver ao vivo, pois este tipo de evento não é noticiado tanto quanto mortes em outras situações. Tudo isso enquanto todos nós aceitamos a obrigação de exigir o uso do cinto de segurança.
</p><p class="well">
Assassinatos nas regiões vulneráveis são considerados tão habituais quanto garis não usarem cintos de segurança. Há pelo menos 30 anos não são notícia, pois sempre existiram.
</p><p>
Mas isto que tenho optado por chamar de "desigualdade criminal" é outro assunto, para outros editoriais. 
</p><p class="well">
Aqui no Rio Grande do Sul basta lembrar que 37 assassinatos por semana, em sua maioria concentrados nos finais de semana, é o habitual. Eu lamento muito que seja o habitual. 
</p><p>
Tanto lamento que 37 assassinatos sejam o habitual, que tenho montada aqui do lado, no outro editorial, uma campanha pronta, explicando <a href="homicidios-100-porcento-investigados.html">como eliminar os assassinatos passando a investigá-los - todos - <i>sem gastar nem 1 centavo a mais</i></a>. Estratégia perfeita para políticos com problema de dinheiro, como o governo gaúcho nestas semanas.
</p><p>
Sempre, muito obrigado pelo interesse em ler um artigo inteiro para procurar aumentar a segurança no Brasil.
</p><p>
Um grande primeiro passo seria todas as mães brasileiras, em bairros simples ou sofisticados, não mais precisarem se preocupar com assassinatos, que passariam a apresentar taxas reduzidas, de primeiro mundo. Editoriais como este seguirão tentando trazer ferramentas de conhecimento mais baratas, sem deixar de ser eficientes, com esta finalidade, para nossos políticos e para a população brasileira, com a comunicabilidade de nossa imprensa.
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_homicidio_zero"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

