---
layout: "blog_list"
pageable: true
---

<h1 class='page_title'>Arquivos de
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<%= partial "layouts/article_list"  %>   
