---
layout: "layout"
title: "Lixeiros não usam cinto de segurança"
tweet: "Lixeiros não usam cinto de segurança"
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>Lixeiros não usam cinto de segurança</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2015-12-01"><br><span class="artigo-data">Porto Alegre, 1 de dezembro de 2015.</span>
    </p>
    <h2 class='text-left'>
      O que possuem em comum: domésticas, cela especial para nível superior, carros metralhados, lixeiros sem cinto de segurança, ciclo incompleto de polícia, recorde de assassinatos, recorde de prisões?
    </h2>
    <br>
    <p class="well">
O ciclo incompleto de polícia, ou seja, não-completo, é ferramenta cirúrgica, perfeita, e durável, para país com cultura de escravos recente - como o Brasil.
</p><p>
Por isso posso estrategicamente imaginar que o ciclo incompleto só cairá, só deixará de existir, quando o racismo de cada brasileiro já estiver em doses menores do que os demais comportamentos sociais.
</p><p>
O ciclo incompleto encarcera em flagrante os pobres herdeiros da escravidão, e faz mais uma coisa muito efetiva: não investiga as vítimas de assassinatos que são pobres herdeiras da escravidão.
</p><p>
Portanto, como uma ferramenta cirúrgica, o ciclo incompleto consegue encarcerar e deixar morrer - tudo junto - encarcerar-e-deixar-morrer os pobres herdeiros da escravidão.
</p><p>
Por isso nunca houve contradição em termos a população de presos que mais cresce no mundo; <i>ao mesmo tempo que</i> não investigamos nem 8% do nosso recorde mundial de 58 mil assassinatos por ano.
</p><p>
A equação que explicava e explica tudo está nas vítimas: na hora de ser eficiente em prender, os infelizes herdeiros da escravidão são as vítimas dos sempre pequenos flagrantes. Na hora de <i><b>não</b> ser eficiente</i> em prender, os infelizes herdeiros da escravidão são as vítimas dos assassinatos, recordes e não investigados, no Brasil.
</p><p>
O ciclo incompleto não é causa; é ferramenta deste racismo que não racionalizávamos, não racionalizamos, de dentro de nosso conforto.
</p><p>
Não há ferramenta mais certeira para encarcerar e deixar morrer herdeiros da escravidão, esta seria a cruel eficiência do ciclo incompleto "que não queremos ver", "embaixo do tapete", "que nos causa repulsa-<i>mas-há décadas-<b>deixamos</b>-ocorrer</i>".
</p><p>
Teríamos que nos questionar por que deixamos ocorrer - e há décadas deixamos, sim, ocorrer - algo que, agora trazido para a consciência mais científica e racional, nos causaria repulsa.
</p><p>
Provavelmente é porque cada brasileiro ainda é racista, ainda que cada vez menos em cada década que nos afastamos da antiga colônia portuguesa e seus milhões de escravos. Colônia que por 400 anos moldou casas e apartamentos com entradas separadas para empregadas domésticas, lixeiros que "não utilizam cinto de segurança", em pé, escorregando em atrás dos caminhões de lixo em alta velocidade, carros populares metralhados em ruas de terra, quem vende preso e quem compra livre, os mesmo 100 gramas de maconha, estes pequenos sinais que, inconscientemente, somados e repetidos, molda cada brasileiro de uma maneira quotidianamente racista, notícia após notícia, desde o exato instante em que cada um de nós cai do útero em nosso solo quente.
</p><p>
Claro: devagarzinho vamos desfazendo estes indícios do passado e ensinando menos racismo a quem seguirá caindo dos úteros das próximas na fila mães brasileiras.
</p><p>
Portanto, voltando ao hoje, refriso. Como uma ferramenta cirúrgica, a ineficiência do ciclo incompleto dura tanto, há décadas, porque a mesma sua ineficiência em policiar é a eficiência em permitir a morte e encarceramento dos infelizes.
</p><p>
Deixado de lado este parágrafo de sinceridade cruel, afiada, preferencialmente a ser negada com raiva por quem tomou este parágrafo como um choque psicológico, volto ao quotidiano de explicar que o Mapa da Segurança quer tentar dizer que mesmo os felizes, mais raramente alvos das polícias e mais herdeiros da antiga nobreza portuguesa, com níveis superiores, salários com 4 zeros e seus direitos a celas especiais (pode isso?), também são atingidos pela violência que, sim, desce o morro, ainda que em menor intensidade do que no topo do morro:
</p><p>
E a violência chega, então, em nossos parentes e amigos, em cálculo inédito já publicado em <a href="http://www.revistacalculo.com.br/um-boeing-737-caindo-todo-dia/" target="_blank">revista especializada</a>. Quem tiver a brecha de tempo ou de interesse pode tomar contato com este novo método e seus resultados aqui: <a href="http://mapadaseguranca.com/" target="_blank">Mapa da Segurança</a>
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_homicidio_zero"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

