---
layout: "layout"
title: "Círculos Pessoais: com ou sem Vítimas de Violência?"
---

  
<div class='container'>
  <div class='violencia-nao-estatistica row text-center'>
    <h1 class='well'>Violência não é somente uma estatística. </h1>
    <p>
      Não se trata apenas de contar roubos, assassinatos, crimes para cada cem mil habitantes. </p>
    <img src="images/violenciaperto-circulospessoais.svg" alt="Domicílio" height="200px">
    
    <p></p>
    <p>Perder um amigo assassinado afeta mais do que a notícia da perda de um desconhecido. <br>Perder um familiar pode doer mais do que a perda de um conhecido. <br>Perder alguém que mora conosco, além da dor, traz a inesperada, brutal, mudança na rotina do dia-a-dia.
    </p>
    <h2 class='well'>Violência pode atingir: </h2>
  </div>

  <div class='circulos-pessoais row text-center'>

    <div class='col-sm-4'>
      <div class='well casa'>
        <img src="images/violenciaperto-casa.svg" alt="Domicílio" height="150px">
        <h1>Casa</h1>
      </div>

      <p class='same-height-if-possible'>Com quem compartilhamos nosso dia-a-dia. Entre sorrisos e mesmo entre desentendimentos, nosso relacionamento mais próximo, diário.</p>
      <h3 class='well casa'>3 a 4 pessoas</h3>
      <p class='entenda-observacao'>Em média, no Brasil. <br>Em breve: personalize este valor de acordo com sua realidade.</p>
      <p>Perder alguém que mora conosco dói no coração e na rotina do dia-a-dia. Soma-se com a dor da violência a inesperada, brutal e repentina mudança na rotina do dia-a-dia.</p>
      <div class='well casa'><p>Como saber se determinada violência ou epidemia poderá entrar em minha </p>
        <img src="images/violenciaperto-casa.svg" alt="Domicílio" height="75px">
        <h3>casa</h3>
        <p> ao longo de minha vida?</p></div>
    </div>


    <div class='col-sm-4'>
      <div class='well familia'>
        <img src="images/violenciaperto-familia.svg" alt="Família" height="150px">
        <h1>Família</h1>
      </div>

      <p class='same-height-if-possible'>Pais, avós, filhos, netos, irmãos, tios, primos, sobrinhos. Festas sazonais, encontros, mensagens, fotos.</p>
      <h3 class='well familia'>30 pessoas</h3>
      <p class='entenda-observacao'>Uma estimativa. <br>Em breve: personalize este valor de acordo com sua realidade.</p>
      <p>A violência ou epidemia que atinge um familiar via de regra atinge mais nossos sentimentos do que aquela violência que atinge pessoas mais distantes ou totalmente desconhecidas. </p>
      <div class='well familia'><p>Como saber se determinada violência ou epidemia poderá atingir meus </p>
        <img src="images/violenciaperto-familia.svg" alt="Família" height="75px">
        <h3>familiares</h3>
        <p> ao longo de minha vida?</p></div>
    </div>


    <div class='col-sm-4'>
      <div class='well conhecidos'>
        <img src="images/violenciaperto-conhecidos.svg" alt="Amigos e conhecidos" height="150px">
        <h1>Conhecidos</h1>
      </div>
      
      <p class='same-height-if-possible'>Melhores amigos, amigos recentes, colegas, conhecidos, contatos. Ao vivo ou nas redes sociais, por whatsapp ou facebook, twitter ou email, em almoços, festas, churrascos.</p>
      <h3 class='well conhecidos'>150 pessoas</h3>
      <p class='entenda-observacao'>Uma estimativa. <br>Em breve: personalize este valor de acordo com sua realidade.</p>
      <p>Amigos e mesmo conhecidos mais distantes, até mesmo virtuais/online, via de regra, nos causam maior dor quando são vítimas de violência, comparado com a vítima de violência que desconhecemos.</p>
      <div class='well conhecidos'><p>Como saber se determinada violência ou epidemia poderá atingir meus </p>
        <img src="images/violenciaperto-conhecidos.svg" alt="Amigos e conhecidos" height="75px">
        <h3>amigos e conhecidos</h3>
        <p> ao longo de minha vida?</p></div>
    </div>

  </div>


  <%= partial "layouts/_formula"  %>      

  <p class='text-right'><a href="proxima_ou_distante.html">Violência próxima e violência distante >></a></p>




  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_artigo"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>
  
</div>  

