---
layout: "layout"
title: "Círculos Pessoais: com ou sem Vítimas de Violência?"
---

  
<div class='container'>
  <div class='violencia-nao-estatistica row text-center'>
    <h1 class='well'>Violência é mais que estatística. </h1>
    <p>E se um <i>familiar</i> for uma das 50 mil pessoas que são assassinadas todos os anos no Brasil?
    <br>E se <i>alguém de casa</i> sofrer um dos milhões de roubos que acontecem todos os anos no Brasil?</p>
    <h4 class='well'>Violência não é número.</h4>

    <h2>Violência pode atingir: </h2><br>
  </div>

  <div class='circulos-pessoais row text-center'>

    <div class='col-sm-4'>
      <div class='well casa'>
        <img src="images/violenciaperto-casa.svg" alt="Domicílio" height="150px">
        <h1>Casa</h1>
      </div>

      <p class='same-height-if-possible'>Nosso dia-a-dia. Sorrindo ou brigando, dividimos nosso amor primeiro com quem mora conosco.</p>
      <h3 class='well casa'>3 a 4 pessoas</h3>
      <p class='entenda-observacao'>Em média, no Brasil.</p>
      <p>Perder alguém que mora conosco dói no coração e muda completamente nossas vidas. A manhã do dia seguinte já não será a mesma, de repente e para sempre. </p>
      <div class='well casa'><p>Como saber se a violência poderá entrar em minha </p>
        <img src="images/violenciaperto-casa.svg" alt="Domicílio" height="75px">
        <h3>casa</h3>
        <p> ao longo de minha vida?</p></div>
    </div>


    <div class='col-sm-4'>
      <div class='well familiar'>
        <img src="images/violenciaperto-familia.svg" alt="Família" height="150px">
        <h1>Família</h1>
      </div>

      <p class='same-height-if-possible'>Pais, avós, filhos, netos, irmãos, tios, primos, sobrinhos. Festas, encontros, mensagens, fotos!</p>
      <h3 class='well familiar'>30 pessoas</h3>
      <p class='entenda-observacao'>Uma estimativa.</p>
      <p>Perder um familiar sangra nossas raízes. O contato com a dor será inevitável, próximo, de sangue. A tristeza pode mexer com a estrutura de toda a família. </p>
      <div class='well familiar'><p>Como saber se a violência poderá atingir meus </p>
        <img src="images/violenciaperto-familia.svg" alt="Família" height="75px">
        <h3>familiares</h3>
        <p> ao longo de minha vida?</p></div>
    </div>


    <div class='col-sm-4'>
      <div class='well conhecido'>
        <img src="images/violenciaperto-conhecidos.svg" alt="Amigos e conhecidos" height="150px">
        <h1>Conhecidos</h1>
      </div>
      
      <p class='same-height-if-possible'>Amigos, parceiros, contatos. Ao vivo ou online, whatsapp ou facebook. Toda hora tem conversa com conhecidos.</p>
      <h3 class='well conhecido'>150 pessoas</h3>
      <p class='entenda-observacao'>Uma estimativa.</p>
      <p>A violência entre amigos e conhecidos se faz sentir mais que notícia de desconhecido na tv. O grupo de amigos e conhecidos imediatamente sente a dor.</p>
      <div class='well conhecido'><p>Como saber se a violência poderá atingir meus </p>
        <img src="images/violenciaperto-conhecidos.svg" alt="Amigos e conhecidos" height="75px">
        <h3>amigos e conhecidos</h3>
        <p> ao longo de minha vida?</p></div>
    </div>





    <%= partial "layouts/_formula"  %>      


    <!-- Ação: clicks -->
    <div class='row text-center well'>
      <div class='col-sm-3'>
      </div>

      <div class='col-sm-6'>
        <%= partial "layouts/_btn_proxima_ou_distante"  %>      
      </div>

      <div class='col-sm-3'>
      </div>
    </div>


  </div>



</div>  

