---
layout: "layout"
title: "Queremos combater o inimigo? Sobre a militarização ou desmilitarização das polícias."
tweet: "Queremos combater o inimigo? Sobre a militarização ou desmilitarização das polícias."
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>Queremos combater o inimigo? Sobre a militarização ou desmilitarização das polícias.</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2016-02-26"><br><span class="artigo-data">Porto Alegre, 26 de fevereiro de 2016.</span>
    </p>
    <h2 class='text-left'>
      Observo em alguns comentários a saudação à nossa atual organização social e, dentro dela, a saudação ao nosso formato de segurança pública.
    </h2>
    <br>
<p class="well">
Claro! São opiniões, todas com fundamentos e importâncias.
</p><p>
Observei opiniões que demonstram que "nossa organização social" quer agir na modalidade de guerra, de inimigo. 
</p><p>
Na modalidade de combate a inimigo, mesmo que este inimigo esteja dentro da própria sociedade, uma polícia militar cabe, realmente, perfeitamente, muito melhor do que polícias civis, não militares.
</p><p>
O "inimigo", que não participa de diretorias, congressos, debates jornalísticos, debates sobre segurança pública como o debate que está sendo feito pelo site Mudamos (link no final do texto), mal sabe que é tratado, inclusive nas opiniões sobre o futuro da segurança pública, como "inimigo".
</p><p>
Neste sentido, não há grandes falhas na segurança pública atual, realmente, vejamos: 
</p><p class="well">
O pessoal que opina, que frequenta as áreas de graduação e pós-graduação, os debates jornalísticos, que moldam a maior parte das opiniões lógicas e escritas, pode querer a polícia evitando roubos e furtos aqui nas ruas mais importantes, mais ricas (ou menos pobres), das cidades brasileiras, e o saco de lixo grosso do IML recolhendo os corpos assassinados nas periferias.
</p><p>
Aparentemente cumprimos, ou estamos muito próximos de cumprir, a rotina acima descrita. Vejamos se confere abaixo:
</p><p class="well">
Principalmente quando ocorre a raridade de um assassinato nas ruas mais "bem"-frequentadas das cidades, a repulsa, a imprensa, surgem, e os policiais rapidamente tentam, e usualmente conseguem, capturar o assassino.
</p><p>
92% dos 60 mil assassinatos recebem o serviço "especial" de limpeza, na verdade chamado de IML e com direito a congelador e perícia, quando a estrutura permite. 
</p><p class="well">
A não-investigação de 55 mil dos 60 mil assassinatos anuais, todavia, indica que o recolhimento do cadáver assassinado no Brasil se trata - se pudermos realmente tirar as papas da língua neste instante: - se trata mesmo de um serviço de limpeza, com saco de lixo preto mais grosso, com ziper.
</p><p>
Algo primata, porque até mesmo animais enterram seus semelhantes.
</p><p>
Para evitar apodrecimento e mau-cheiro. 
</p><p>
Nada sofisticado, nada diferente dos animais. Também nada que não fosse praticado há milhões de anos, antes mesmo de conseguirmos andar em pé, quando ainda tínhamos rabos longos e andávamos mais em árvores.
</p><p>
Sim, neste sentido, é que a segurança pública brasileira está, então, sob este ponto de vista, bem azeitada, até.
</p><p>
Cuidamos das ruas mais bem-frequentadas, e mal sabem os nossos "inimigos", que eles não fazem parte de nossas sugestões de melhorias na segurança pública.
</p><p>
E assim caminhamos, veja só com que origem: em 1800 - ontem, do ponto de vista antropológico - Dom João veio ao Brasil. Naquele instante, dez mil nobres recebiam o melhor das riquezas do país, com 1 milhão de escravos carregando esgoto em tonéis (não havia encanamentos), entre outras tarefas com mais trabalho do que remuneração, em uma taxa de trabalho/remuneração.
</p><p class="well">
Hoje - voltando ao século 21 -, se a monarquia não mais existe, empurrados "desagradavelmente" por uma tal revolução iluminista, com bons exemplos nas revoluções francesa e americana; tentamos ao máximo nos livrar da "necessidade mundialmente imposta" de "respeitar direitos humanos" (antes o mundo todo vivia de tortura e confissão; nem presídios precisava, matava-se em público) e disfarçamos, ao máximo, nossa realidade de monarquia, com nossos apenas 10% nobres, travestida de uma "democracia", com "direitos humanos".
</p><p>
Estes trajes de direitos humanos, tentando mal-vestir uma cultura da monarquia, que remonta à época de Dom João - por exemplo, polícia de combate ao inimigo, como em 1800; porém tentando ao máximo fazer crer que é democrática e que não sobe o morro mais para esculachar do que para proteger direitos humanos - como o maior direito humano, o direito à vida (sem este direito os outros não importam mais...), devem deixar muitos intelectuais brasileiros malucos, esquizofrênicos, e eu peço desculpas a vocês, jovens intelectuais, que ainda não tomaram a pílula da verdade, pílula que mostraria que mais parecemos a mesma monarquia de 1800, com 10% "nobres" esculachando o resto. Seria a cultura real, mal-vestida, travestida sob textos legais - como Constituição e leis -, que têm toda cara de "direitos humanos", como "liberdade de ir e vir", "direito à vida" (letras no papel há!), parecendo realmente refletir o século 21.
</p><p class="well">
Como um jovem intelectual genuinamente interessado pode lidar com essas verdades sobre nosso país e pessoas, ao mesmo tempo com vestimentas formais que parecem dizer o oposto? Contradições não conseguem parar de irromper os diques.
</p><p>
Podemos ir mais além ainda. 
</p><p>
Se o poder é do povo, e o "povo" quer (a) seguir esculachando a periferia e (b) cuidar das ruas mais "bem"-frequentadas (só não podemos deixar os outros 90% do povo, a periferia, participar nesta votação! Mas eles nem entendem mesmo, não deixamos muito eles se intelectualizarem, precisam ralar antes por casa, comida, com orçamentos mais apertados que os intelectuais em geral), então muitos do "povo" (muitos dos debatedores presentes no site Mudamos, por exemplo) podem simplesmente deixar a segurança pública como sempre esteve, pois já havia se estabilizado, estando "perfeita", muito efetiva, em sua habilidade e estrutura para: 
</p><p>
(a) esculachar a periferia: deixar a morte assassinada correr solta lá, sem investigar (somente recolher/limpar os corpos), "manter a ordem" lá - e longe - com o êxito indiscutível, recorde mundial, no topo há décadas, de conseguirmos deixar morrer 60 mil pessoas assassinadas, todo ano, 160 por dia, sem jamais investigar 55 mil assassinatos por ano, sem jamais investigar 150 assassinatos por dia, nas periferias. 
</p><p>
(b) vigiar bem de perto, imediatamente, quem vem atrapalhar o "povo" aqui: prender o máximo de criminosos, ou suspeitos de crimes, de furtos e roubos aqui nas ruas mais "bem"-freqüentadas das cidades, com o êxito indiscutível de termos a população carcerária que mais cresce no mundo, e já a terceira população carcerária do mundo.
</p><p>
Neste sentido, então sim, já temos polícias que são especializadas em manter esta estrutura. É a estrutura atual! 
</p><p>
Uma polícia de combate imediato ao "inimigo". Uma polícia militar, sem dúvida, neste específico sentido, só pode ser mais adequada em relação a uma polícia civil, não militar, que não é especificamente montada para combater inimigos.
</p><p>
Esta estrutura, inclusive, já está montada de maneira a parecer atender à uma Constituição Iluminista - que representaria aqueles tais "direitos humanos" que o mundo impõe a nós, brasileiros. 
</p><p>
Assim, a polícia parece muitas vezes esculachar a periferia, mas isto não está no papel. A Constituição não escreve Art xx.: "esculachar a periferia", ao contrário, escreve "direitos humanos", "direito de ir e vir", "direito à vida", "para todos". 
</p><p>
Mas nas ruas, onde não há texto nem papel - há a cultura, a realidade - temos estrutura bastante sedimentada na capacidade de esculachar a periferia. 
</p><p>
E tudo anda como muitos do "povo", presentes nos debates intelectuais e cafeterias, no fundo de seus pensamentos, parecem desejar: uma aparência de Iluminismo insculpida em nossas leis e Constituição, exportada internacionalmente; porém travestindo o esculacho e tratamento de inimigo às periferias, no dia-a-dia, na não-investigação de 55 mil assassinatos por ano, no super-combate ao maior número de furtos e roubos possível, com a mais crescente população carcerária do mundo.
</p><p>
Nunca foi um paradoxo a eficiência em prender (muitos roubos e furtos) mas não em investigar (92% dos assassinatos não são investigados) 
</p><p class="well">
Esta é exatamente a "eficiência" da vida real na estrutura atual: agir aqui (nas ruas mais "bem"-frequentadas); não agir ali (nas periferias).
</p><p>
A eficiência tanto na super-ação - super-combate a furtos e roubos nas ruas "bem"-frequentadas - quanto na inação (omissão) - não-investigação de 55 mil assassinatos anuais nas periferias -, cirurgicamente regulada, serve para atender às pessoas que mais frequentam as decisões, diretorias, chefias, gabinetes, opiniões jornalísticas, debates políticos, aparentemente.
</p><p>
Seriam (Seríamos: somos todos responsáveis pela cultura conjunta) os herdeiros dos 10% mais "nobres", porém no século 21?
</p><p>
Muitos não parecem (não parecemos) querer mudar a segurança pública atual. Se fosse para mudar, parecem querer mais do mesmo, o que usualmente significa pedir mais efetivo, permitindo então prender ainda mais assaltantes nas ruas mais "bem"-frequentadas, ao mesmo tempo que continuaríamos sem precisar investigar assassinatos nas periferias.
</p><p>
De maneira extremamente particular, privada, pessoal, perdoem minha quase-insanidade mental, eu estou ao lado da periferia, mesmo sem pertencer a ela. (Perdoem minha insanidade mental ou até mesmo traição a muitos do "povo" que circulam nos cafés, diretorias, chefias, secretarias, debates): 
</p><p class="well">
Eu quero que não aconteça mais nenhum homícidio na periferia (nem em lugar nenhum).
</p><p class="well">
Mesmo "que seja relacionado ao tráfico", como muitos do "povo" costumamos dizer, para não ficarmos com a consciência pesada de "esquecer" de proteger "aqueles" (da periferia) "direitos humanos".
</p><p>
Gostaria inclusive, que todo batalhão, delegacia, juizado, em cada território, parasse tudo, para investigar o homicídio que aconteceu naquele dia ou naquela semana.
</p><p>
Descobrindo, em pelo menos 80% dos casos, quem foi o criminoso, em todo e qualquer caso de assassinato.
</p><p>
Ou seja, gostaríamos que nos preparássemos para investigar assassinatos em ruas periféricas, de pessoas de baixa renda, em regiões onde quem faz a segurança são traficantes. 
</p><p>
A boa notícia? Na imensa maioria dos casos o crime não é de difícil solução, envolvendo briga de marido-mulher, briga de bar. 
</p><p>
Basta levarmos mais do que apenas um saco preto pesado inscrito IML. 
</p><p>
Basta levarmos a capacidade de investigação que levaríamos se o fato acontecesse em frente à sede de jornal de grande porte da cidade.
</p><p>
Ocorrem cem vezes menos assassinatos do que ocorrem furtos e roubos. 
</p><p>
Basta, portanto, deslocarmos 1% da nossa comprovada capacidade de prender assaltantes, porém para investigar o único assassinato do dia ou da semana, em cada batalhão, delegacia, juizado, território. 
</p><p>
Com o tempo, a segurança pública ao invés de ser exercida na prática por traficantes, nas periferias, será exercida por um microgestor da segurança pública, na mais original - remontando ao livro Policiamento Comunitário, do Bailey - Polícia Comunitária possível, em que:  
</p><p>
<i>"Quanto mais próximo for o relacionamento entre o policial e as pessoas na sua ronda, quanto mais pessoas ele conhecer e quanto mais essas pessoas confiarem nele, maiores são suas chances de reduzir o crime."</i> Charlie Silberman, Criminal Violence, Criminal Justice, 1978.; e
</p><p>
<i>"A premissa central do policiamento comunitário é que o público deve exercer um papel mais ativo e coordenado na obtenção da segurança. O público deve ser visto como 'co-produtor' da segurança e da ordem juntamente com a polícia"</i>. Policiamento Comunitário, Bailey e outro autor, EDUSP.
</p><p>
Mas quando chegarmos a este ponto, a periferia não mais será inimiga, esculachada, mas co-autora, em tese co-produtora, da segurança pública. 
</p><p>
Aí ficará menos necessário o caráter militar nas polícias, ainda que seja possível ter polícias militares e, ao mesmo tempo, amigas. Importante é o conceito de ter a população, inclusive das periferias, como co-produtora, não como inimiga, da segurança pública. Via de regra, neste ponto, não será necessária uma organização de guerra, de combate. 
</p><p>
Não posso deixar de comentar que em uma situação destas o microgestor da segurança em seu território também não é mais um mero soldado cumpridor de ordens dos gabinetes centrais. Não é mais um soldado, cuja principal qualidade seja não questionar. Não. O microgestor do policiamento comunitário em seu território precisa treinar a habilidade de solucionar e criar. 
</p><p>
Então este microgestor da segurança será ou 1. Melhor remunerado; ou 2. Possuirá uma perspectiva de carreira completa, podendo chegar a qualquer chefia do órgão. Ambas as modalidades dão incentivo para uma boa carreira, desde o inicial microgestor da segurança nas pontas, espacializado em galgar a confiança dos moradores do território, gradativamente trazer a confiança do público para si, especializado em andar cada vez mais lado-a-lado, e cada vez menos de-frente-para, o morador, evitando, com apoio e co-produção da população, mais crimes do que reprimindo; até o instrutor, o chefe, o diretor, especializado em ensinar, mapear, prever, estimar, correlacionar, gerir verbas de bilhões, para todo o órgão.
</p><p>
Isto é minha particularíssima opinião, usando meu direito de opinar. Compreendo que muitos do "povo" dos debates, não raro, querem só manter o "status quo", notadamente aqueles que já se empoleiraram em algum cantinho financeiro e social bom, como por exemplo um cargo público, um cargo policial bom, um comando, uma chefia. 
</p><p>
Peço, então, desculpas, por não querer isto que muitas vezes é sugerido nos debates sobre segurança pública: 
</p><p>
1. Criticar e duvidar das capacidades das mudanças propostas - criticar sempre é fácil -; e 
</p><p>
2. Manter o status quo, sempre também muito fácil.
</p><p class="well">
<u>Hoje, via de regra, há serviço de limpeza, não de investigação, de corpos assassinados</u>. 
</p><p>
É o que muitos do "povo" debatedor querem, quem sou eu para ir contra uma eventual maioria?
</p><p>
<a href="http://veja.abril.com.br/blog/cacador-de-mitos/historia/a-meritocracia-em-defesa-dos-pobres/" target="_blank">Um breve relato sobre a vida no século XVIII, e a revolução iluminista</a>.
</p><p>
<a href="ciclo-incompleto.html" target="_blank">Este artigo adicional é para quem está gostando deste tipo de ponto de vista</a>.
</p><p>
<a href="homicidios-100-porcento-investigados.html" target="_blank">Este artigo adicional é para quem quer saber como investigar 100% dos homicídios no Brasil</a>.
</p><p>
<a href="https://www.mudamos.org/temas/seguranca-publica/assuntos/desmilitarizacao" target="_blank">Veja os debates sobre segurança pública no site Mudamos</a>.
</p><p>
Sorte a todos nós, debatedores, brasileiros, humanos.
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_homicidio_zero"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

