---
layout: "mini_layout"
title: "Fale conosco :: Previsões de Vítimas de Violência em nossos Círculos Pessoais"
---

  
  <section class="intro">  
    <div class="content">
      <h1 class="text-center"><b>Queremos ouvir sua sugestão. <br>O que você gostaria de saber mais?</b></h1>
      <h1 class="text-center"><b>Escreva-nos.</b></h1>
      <p class="text-center">Responderemos em <br><a href="mailto:info@mapadaseguranca.com">info@mapadaseguranca.com</a></p>
   </div>
  </section>
