---
layout: "mini_layout"
title: "Fale conosco :: Previsões de Vítimas de Violência em nossos Círculos Pessoais"
---

  
  <section class="intro">  
    <div class="content">
      <h1 class="text-center"><b>Escreva, pergunte, entre em contato!</b></h1>
      <p class="text-center">Responderemos em <br><a href="mailto:fale@violencia.click">fale@violencia.click</a></p>
   </div>
  </section>
