---
layout: "layout"
title: "Homicídios 100% investigados"
---

<div class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h2 class='text-left'>
      Homicídios 100% investigados
Pela Guarda Municipal
Priorizados por Ministério Público e Justiça.      
    </h2>
    <br>
    <p class="well">
Não é preciso gastar 1 centavo para modificar a segurança brasileira.
</p><p>
Também não é preciso polemizar em torno de idades penais ou de tamanhos de presídios, nem ao mesmo se posicionar entre esquerda ou direita (enquanto a insegurança permanece em meio aos diálogos).
</p><p>
Vou direto ao ponto e explico os variados detalhes após o ponto inicial.
</p><p>
Entre os vários milhões de roubos e furtos que ocorrem todos os anos, ocorrem "apenas" 50 mil assassinatos por ano. 
</p><p>
Em relação ao número de roubos, são poucos assassinatos (sabemos que somos o país que mais mata no mundo).
</p><p>
Além disso, temos mais de 400 mil presos no Brasil. 
</p><p>
Se imediatamente conseguíssemos comprovar e prender todos os culpados por todos os assassinatos do ano, ainda sobrariam 350 mil vagas para "outros crimes". Ou seja, já não há que se falar em gasto com presídios.
</p><p>
A solução gratuita é - perdoe a simplicidade e a gratuidade - simples e gratuita:
</p><p class="well">
Colocar as guardas municipais - ou algumas, ou uma guarda municipal em um local piloto - para estar presente e coletar testemunhos e imagens em todos os homicídios da cidade. 100% dos homicídios.
</p><p>
Sigam comigo o raciocícinio. Tem mais. 
</p><p>
Um parênteses para a tradição: algumas tradicionais chefias de um tipo de aristocracia brasileira entre funcionários públicos, terão de perdoar que a solução não compreenderá pedir mais verbas anuais nem mais viaturas para seus respectivos órgãos e gabinetes, como lá e cá vinham fazendo, inchando algumas instituições, há  décadas. Podemos concluir que não funciona gastar dinheiro, simplesmente.
</p><p>
Como existem apenas 50 mil assassinatos para cada 5 milhões de roubos/furtos no Brasil, ou 5 mil assassinatos para cada 500 mil roubos, nas grandes capitais, ou então 1 assassinato para cada 100 roubos, em geral, isto significa que não será necessário comprar nenhuma viatura nem aumentar nenhum efetivo para a Guarda Municipal. Bastará apenas deslocar 1 em cada 100 ocorrências tradicionais para atender o homicídio que ocorrerá no dia na cidade.
</p><p class="well">
Em geral, nas cidades brasileiras, há homicídio todos os dias. Nas periferias (regiões vulneráveis), cem vezes mais do que nos bairros melhores. Por isso não nos importamos há tanto tempo com o recorde de assassinatos no Brasil. Mas isto é outro assunto, que convenho chamar de desigualdade criminal.
</p><p>
Ou seja, com o mesmo efetivo de sempre, uma viatura da Guarda Municipal se deslocará para onde há um corpo já morto, na grande maioria das vezes em uma rua estreita e simples, em uma região vulnerável.
</p><p>
Ali, na rua de chão batido, começa a revolução na segurança brasileira: 
</p><p>
O guarda municipal vai ouvir e anotar os testemunhos na hora, no mesmo dia do fato. 
</p><p>
Vai descobrir o autor imediatamente em 80% dos casos. 
</p><p>
Os próprios vizinhos sabem em 80% dos casos. 
</p><p>
Com crescente habilidade, o guarda municipal deixará um cartão com seu contato. Grande arma da polícia, este contato indireto deixado para várias testemunhas, incialmente assustadas com sua própria segurança, ajuda a eliminar o medo dos vizinhos de contribuir para denunciar o autor. Algumas destas várias testemunhas assustadas poderão informar o assassino por telefone, fora da vista, direto para o guarda municipal, sem serem vistas em público.
</p><p class="well">
Não bastasse o contato imediato com as várias testemunhas e vizinhos, o guarda municipal também possui acesso direto ao ente político mais forte e mais próximo da população atualmente: a própria prefeitura.
</p><p>
Se houver alguma câmera filmando a região, além de pedir aos estabelecimentos privados, a prefeitura poderá fornecer à guarda municipal o arsenal de filmagens das várias câmeras públicas que somente prefeituras conseguem ter em tão grande número e localidades.
</p><p class="well">
Quem imaginava que coletar testemunhos e filmagens (investigar) no mesmo dia e hora do fato criminoso era um tabu na segurança brasileira? 
</p><p>
Os universitários sabem que ocorreu o revolucionário "ciclo completo" nesta simples solução utilizando as cada vez mais atuantes guardas municipais. 
</p><p>
Nós, leitores, indignados com a segurança, não precisamos de termos universitários. Podemos apenas memorizar o seguinte: a polícia militar não pode fazer o que o guarda municipal acaba de fazer sem gastar um centavo com verba. Da mesma maneira a polícia civil não pode fazer o que o guarda municipal acaba de fazer sem gastar um centavo com verba. 
</p><p class="well">
Somente o guarda municipal poderá fazer todo o ciclo de chegar no dia e hora do fato do assassinato comunicado, e imediatamente coletar testemunhos e cópias das filmagens, ao mesmo tempo pronto para ação uniformizado nas ruas e ao mesmo tempo investigando.
</p><p>
Em consonância com e delicadamente mantendo toda a tradição, o guarda municipal poderá aguardar a tradicional chegada da policia militar, para que esta, ou a própria guarda municipal, preserve a área do assassinato para que a tradicional perícia forense chegue e faça seu trabalho como sempre fez. 
</p><p>
A guarda municpal não precisará de nada além de testemunhos e cópias de eventuais filmagens para concluir em seu relatório, em 80% dos casos, de maneira imediata, quem foi o autor do crime, enviando o relatório diretamente e imediatamente para promotoria e justiça.
</p><p class="well">
Não cabe a este artigo detalhar os 20% restantes de casos mais difíceis de investigar - para um país que até hoje não investiga nem 8% dos assassinatos, solucionar 80% dos casos será uma revolução por si só. 
</p><p>
Mas para ir atrás até mesmo dos 20% de casos mais difíceis poderão ser ministradas palestras na própria guarda municipal. Por exemplo, outros 10% dos casos (totalizando 90% de solução) se resolvem nos 2 ou 3 dias seguintes, com alguma perguntas e informações mais para adicionar no relatório, ainda ágil e diretamente enviado para promotorias e justiça.
</p><p>
Finalmente, chegamos - ainda sem gastar nenhuma verba adicional - na atuação da promotoria e justiça.
</p><p>
Um caso de assassinato enviado à justiça leva (em média) anos para resultar em uma decisão judicial final.
</p><p>
Utilizando-se do mesmo benefício de saber que os assassinatos representam apenas 1 caso entre 100 outros casos criminais, como roubos e furtos, promotoria e justiça poderão estabelecer "fila zero", ou prioridade máxima, apenas para os casos de assassinato, sem comprometer em nada suas atuais filas e serviços, nem precisar de mais verba para seus gabinetes. 
</p><p class="well">
A raridade do assassinato em relação a todos os outros casos criminais permite que priorizar o assassinato afete menos de 1% da rotina habitual de todos os órgãos, gabinetes, efetivos e verbas envolvidos.
</p><p>
Em um tempo de "Programa Nacional de Redução de Homicídios", este artigo contendo esta solução simples e grátis - novamente, perdoe-me a simplicidade e gratuidade -, somente pelo custo zero, já deveria ser tentada mas, mais do que isso, ela efetivamente revoluciona para melhor a segurança brasileira.
</p><p>
Este artigo foi escrito por Vladimir Bergier Detrichkeit em apenas um dia, para ser mostrado em uma reunião neste mesmo dia: 22 de agosto de 2015. Por isto, aguarde mais artigos, usualmente com idéias primeiramente gratuitas e simples, sempre que possível, para atender ao chamado de <u>toda a população</u> por segurança no Brasil. Quem entende sabe que o problema não é de dinheiro. Entre no grupo daqueles que entendem ao compreender e apoiar esta solução que, também, não exige gastos, sendo mais inteligente do que cara - é gratuita - para os cofres públicos.
</p><p>
Fiquei devendo um link para mostrar o tempo que leva para investigar assassinatos no Brasil, no método tradicional, sem as guardas municipais. Lá vai:
<a href="http://pt.slideshare.net/justicagovbr/pesquisa-srj-tempoprocessso" >O tempo do processo de homicídio doloso em cinco capitais</a>.
</p><p>
Muito obrigado pelo interesse em ler um artigo inteiro para aumentar a segurança no Brasil.
</p><p>
Vladimir Bergier Dietrichkeit.
</p>
    </div>
    <div class='col-sm-3'></div>

        
  </div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_artigo"  %>      
      </div>

    </div>
  </div>

</div>

