---
layout: "layout"
title: "Previsões de Vítimas de Violência em nossos Círculos Pessoais"
my_list:
  - one
  - two
  - three
---


  
    <!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li>
    <li data-target="#myCarousel" data-slide-to="11"></li>
    <li data-target="#myCarousel" data-slide-to="12"></li>
    <li data-target="#myCarousel" data-slide-to="13"></li>
    <li data-target="#myCarousel" data-slide-to="14"></li>
    <li data-target="#myCarousel" data-slide-to="15"></li>
    <li data-target="#myCarousel" data-slide-to="16"></li>
    <li data-target="#myCarousel" data-slide-to="17"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active homicidio pais brasil conhecidos">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o brasileiro </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>3 conhecidos</p>
        <p class='taxas-preambulo'>- três dentre seus <span>conhecidos - </span><br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 25 homicídios para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>
    </div>

    <div class="item homicidio estado familiares">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o alagoano </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>1 familiar</p>
        <p class='taxas-preambulo'>- um dentre seus familiares - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*referente à taxa de 64 homicídios para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item veiculo estado domicilio">
<!--      <img src="images/img_flower.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o carioca </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>1 vez em casa</p>
        <p class='taxas-preambulo'>- uma vez dentre os residentes em seu domicílio - <br>ocorra </p>
        <p class='taxas-valor'>roubo de veículo</p>
        <p class='taxas-footer'>*referente à taxa de 421 roubos de veículo para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary btn-warning" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>        
    </div>

    <div class="item homicidio pais inglaterra ninguem">
<!--      <img src="img_flower2.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o inglês </p>  
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor' title="Para o cidadão, via de regra, é esperado que as vítimas sejam desconhecidas">nenhum conhecido<sup>*</sup></p>
        <p class='taxas-preambulo'>- e nenhum familiar - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*Via de regra é esperado que as vítimas sejam desconhecidas. <br>Referente à taxa de 1,2 homicídios para cada 100.000 habitantes. <br><a href="http://www.unodc.org/documents/gsh/data/GSH2013_Homicide_count_and_rate.xlsx" target="_blank">fonte: UNODC - Homicide counts and rates, time series 2000-2012</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda <span class="hidden-phone">a estatística</span></a></p>      
      </div>       
    </div>    

    <div class="item homicidio municipio familiares">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de Mata de São João/BA </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>3 familiares</p>
        <p class='taxas-preambulo'>- três dentre seus familiares - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 149 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item homicidio municipio conhecidos">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de Porto Alegre/RS </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>4 conhecidos</p>
        <p class='taxas-preambulo'>- quatro dentre seus conhecidos - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 42 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item homicidio pais afeganistao ninguem">
<!--      <img src="img_flower2.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão do Afeganistão </p>  
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor' title="Para o cidadão, via de regra, é esperado que as vítimas sejam desconhecidas">nenhum conhecido<sup>*</sup></p>
        <p class='taxas-preambulo'>- e nenhum familiar - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*Via de regra é esperado que as vítimas sejam desconhecidas. <br>Referente à taxa de 2,4 homicídios para cada 100.000 habitantes. <br><a href="http://www.unodc.org/documents/gsh/data/GSH2013_Homicide_count_and_rate.xlsx" target="_blank">fonte: UNODC - Homicide counts and rates, time series 2000-2012</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda <span class="hidden-phone">a estatística</span></a></p>      
      </div>       
    </div>    
    
    <div class="item veiculo estado domicilio">
<!--      <img src="images/img_flower.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o amazonense </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>2 vezes em casa</p>
        <p class='taxas-preambulo'>- duas vezes dentre os residentes em seu domicílio - <br>ocorra </p>
        <p class='taxas-valor'>roubo de veículo</p>
        <p class='taxas-footer'>*referente à taxa de 737 roubos de veículo para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary btn-warning" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>        
    </div>

    <div class="item homicidio municipio conhecidos">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão do Rio de Janeiro/RJ </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>2 conhecidos</p>
        <p class='taxas-preambulo'>- dois dentre seus conhecidos - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 21 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>
 
    <div class="item homicidio municipio familiares">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de Fortaleza/CE </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>2 familiares</p>
        <p class='taxas-preambulo'>- dois dentre seus familiares - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 76 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item homicidio pais vietna ninguem">
<!--      <img src="img_flower2.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão do Vietnã </p>  
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor' title="Para o cidadão, via de regra, é esperado que as vítimas sejam desconhecidas">nenhum conhecido<sup>*</sup></p>
        <p class='taxas-preambulo'>- e nenhum familiar - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*Via de regra é esperado que as vítimas sejam desconhecidas. <br>Referente à taxa de 3,3 homicídios para cada 100.000 habitantes. <br><a href="http://www.unodc.org/documents/gsh/data/GSH2013_Homicide_count_and_rate.xlsx" target="_blank">fonte: UNODC - Homicide counts and rates, time series 2000-2012</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda <span class="hidden-phone">a estatística</span></a></p>      
      </div>       
    </div>    

    <div class="item homicidio municipio familiares">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de Porto Seguro/BA </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>2 familiares</p>
        <p class='taxas-preambulo'>- dois dentre seus familiares - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 115 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item veiculo estado familiares">
<!--      <img src="images/img_flower.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o paulista </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>7 vezes entre familiares</p>
        <p class='taxas-preambulo'>- sete vezes dentre seus familiares - <br>ocorra </p>
        <p class='taxas-valor'>roubo de veículo</p>
        <p class='taxas-footer'>*referente à taxa de 374 roubos de veículo para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary btn-warning" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>        
    </div>

    <div class="item homicidio pais japao ninguem">
<!--      <img src="img_flower2.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o japonês </p>  
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor' title="Para o cidadão, via de regra, é esperado que as vítimas sejam desconhecidas">nenhum conhecido<sup>*</sup></p>
        <p class='taxas-preambulo'>- e nenhum familiar - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*Via de regra é esperado que as vítimas sejam desconhecidas. <br>Referente à taxa de 0,3 homicídios para cada 100.000 habitantes. <br><a href="http://www.unodc.org/documents/gsh/data/GSH2013_Homicide_count_and_rate.xlsx" target="_blank">fonte: UNODC - Homicide counts and rates, time series 2000-2012</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda <span class="hidden-phone">a estatística</span></a></p>      
      </div>       
    </div>    

    <div class="item homicidio municipio familiares">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de Arapiraca/AL </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>2 familiares</p>
        <p class='taxas-preambulo'>- dois dentre seus familiares - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 98 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item homicidio estado conhecidos">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o mineiro </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>2 conhecidos</p>
        <p class='taxas-preambulo'>- dois dentre seus conhecidos - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 19 homicídios para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item homicidio pais israel ninguem">
<!--      <img src="img_flower2.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de Israel </p>  
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor' title="Para o cidadão, via de regra, é esperado que as vítimas sejam desconhecidas">nenhum conhecido<sup>*</sup></p>
        <p class='taxas-preambulo'>- e nenhum familiar - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*Via de regra é esperado que as vítimas sejam desconhecidas. <br>Referente à taxa de 2,1 homicídios para cada 100.000 habitantes. <br><a href="http://www.unodc.org/documents/gsh/data/GSH2013_Homicide_count_and_rate.xlsx" target="_blank">fonte: UNODC - Homicide counts and rates, time series 2000-2012</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda <span class="hidden-phone">a estatística</span></a></p>      
      </div>       
    </div>    

    <div class="item homicidio municipio conhecidos">
<!--      <img src="images/img_flower.jpg" alt="Chania">-->
      <div class="carousel-caption">
        <p class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão de São Paulo/SP </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>2 conhecidos</p>
        <p class='taxas-preambulo'>- dois dentre seus conhecidos - <br>tenham sido </p>
        <p class='taxas-valor'>assassinados</p>
        <p class='taxas-footer'>*referente à taxa de 15 homicídios para cada 100.000 habitantes <br><a href="http://www.mapadaviolencia.org.br/" target="_blank">fonte: SIM/SVS/MS (2012)</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>      
    </div>

    <div class="item veiculo estado domicilio">
<!--      <img src="images/img_flower.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o gaúcho </p>
        <p class='taxas-preambulo'>deve esperar receber a informação de que </p>
        <p class='taxas-valor'>4 vezes entre familiares</p>
        <p class='taxas-preambulo'>- quatro vezes dentre seus familiares - <br>ocorra </p>
        <p class='taxas-valor'>roubo de veículo</p>
        <p class='taxas-footer'>*referente à taxa de 217 roubos de veículo para cada 100.000 habitantes <br><a href="http://www.forumseguranca.org.br/produtos/anuario-brasileiro-de-seguranca-publica/7a-edicao" target="_blank">fonte: 7ª edição do Anuário Brasileiro de Segurança Pública</a></p>
        <p><a class="btn btn-lg btn-primary btn-warning" href='circulos_pessoais.html' role="button">Entenda a estatística</a></p>      
      </div>        
    </div>

    <div class="item homicidio pais bosnia ninguem">
<!--      <img src="img_flower2.jpg" alt="Flower">-->
      <div class="carousel-caption">
        <p  class='taxas-preambulo'>Mantidas as atuais taxas de violência*, <br>em média, ao longo de sua vida</p> 
        <p class='taxas-valor'>o cidadão da Bósnia </p>  
        <p class='taxas-preambulo'>e Herzegovina deve esperar receber a informação de que </p>
        <p class='taxas-valor' title="Para o cidadão, via de regra, é esperado que as vítimas sejam desconhecidas">nenhum conhecido<sup>*</sup></p>
        <p class='taxas-preambulo'>- e nenhum familiar - <br>tenha sido </p>
        <p class='taxas-valor'>assassinado</p>
        <p class='taxas-footer'>*Via de regra é esperado que as vítimas sejam desconhecidas. <br>Referente à taxa de 1,5 homicídios para cada 100.000 habitantes. <br><a href="http://www.unodc.org/documents/gsh/data/GSH2013_Homicide_count_and_rate.xlsx" target="_blank">fonte: UNODC - Homicide counts and rates, time series 2000-2012</a></p>
        <p><a class="btn btn-lg btn-primary" href='circulos_pessoais.html' role="button">Entenda <span class="hidden-phone">a estatística</span></a></p>      
      </div>       
    </div>    
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <!-- /.carousel -->  

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>
      <div class='col-sm-2'></div>
      <div class='col-sm-4'>
        <%= partial "layouts/_btn_artigo"  %>      
      </div>
      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>
      <div class='col-sm-2'></div>
    </div>
  </div>


<script>
$('.carousel').carousel({
  interval: 1000 * 15
});  
</script>  
