---
layout: "layout"
title: "Mãe de Traficante"
tweet: "Mãe de Traficante"
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>Mãe de Traficante</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2015-10-04"><br><span class="artigo-data">4 de outubro de 2015.</span>  
    </p>
    <h2 class='text-left'>
      Mãe de Traficante
    </h2>
    <br>
    <p class="well">
Assisti este vídeo na internet:
</p><p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TYo1R2oN8g8?rel=0" frameborder="0" allowfullscreen></iframe>
</p><p>
Perfeito. 
Um retrato fiel na linguagem apropriada aos vitimados. 
</p><p>
Ressalto o seguinte, que quem acompanha os artigos deste site, já sabe.
</p><p>
O vídeo termina dizendo: 
</p><p class="well">
A vida no crime não compensa. E o filho morre assassinado e vive com olhar de maldade. 
</p><p id="investigadores">
Se temos que começar por apenas um crime, considero inteligente eliminar os homicídios, não o tráfico, pelo menos por enquanto. 
</p><p>
Veja bem: são apenas 50 mil homicídios frente a mais de 5 milhões de roubos e outros crimes, como o tráfico. Isto significa que mobilizando apenas 1 equipe por dia, para cada homicídio diário no bairro ou na cidade, se chega no assassino. 
</p><p>
Obviamente que será necessário anotar nos assentamentos funcionais dos <a href="#investigadores" data-toggle="tooltip" title="Seção Para Quem Entende! Sejam investigadores a guarda municipal, criando nova atribuição, ou a polícia militar, passando a poder investigar com o carreira e ciclo completos, com promoção na carreira considerando os sucessos em suas investigações, ou a polícia civil, da mesma maneira, passando a ter carreira e ciclo completos.">investigadores responsáveis</a> se o suspeito chegou a ir a júri, ou seja, se a justiça aceitou as provas policiais, evitando colocar "qualquer um" como suspeito. 
</p><p>
Os chefes da equipe também ganham pontos para cada homicídio resolvido.
</p><p>
Homicídio resolvido é homicídio que vai a júri (que consegue ir a julgamento, pelo povo). Evidentemente não basta apresentar "qualquer" suspeito, com a finalidade de ganhar pontos na carreira policial. Da mesma maneira, os chefes perdem pontos por cada homicídio <b>não resolvido</b>, ou seja, <b>que não vai a júri</b>, qualquer que seja o motivo. 
</p><p>
Está montado um sistema de carreira e pontuação anti-homicídios. Anti-mães-chorando. 
</p><p>
Mais pontos na carreira para quem consegue identificar e levar a juri os assassinos dos 50 mil homicídios que irão ocorrer em 2015, 2016, 2017... 
</p><p>
Subtrair pontos de cada homicídio que não consegue identificar e levar a juri o assassino. 
</p><p class="well">
Na grande maioria dos bairros e cidades, há menos de um homicídio por dia.
</p><p>
É, portanto, fácil deslocar uma equipe nestes dias somente para identificar e levar à justiça os suspeitos de cada homicídio. 
</p><p>
</p><p>
Como possui o dever de somente condenar havendo provas o suficiente, e nada ganha em condenar inocentes ou suspeitos com poucas provas, a Justiça tenderá a levar a juri somente os casos que chegam até ela com fartas provas policiais. 
</p><p>
Fartas provas policiais avançam na justiça. Bons e variados depoimentos. Seguindo protocolos de reconhecimento com variadas fotos (não apenas uma!). Eventualmente contendo filmagens. Incluindo filmagens reversas e futuras - buscando o caminho que o assassino fez antes e depois do assassinato, nos casos em que não há câmera no exato local do crime. 
</p><p>
Com incentivo na carreira, todas as técnicas poderão ser utilizadas, aperfeiçoadas e criadas para que resultem em provas consistentes para a justiça avaliar e considerar suficientes para levar o assassino a juri.
</p><p>
Isto "tudo" (na verdade, pouco, muito fácil de implementar - deslocar uma equipe por dia e anotar idas a juri em assentamentos funcionais não requer nenhum gasto) evita a mãe chorando no final do vídeo "Mãe de Traficante". 
</p><p class="well">
150 mães todos os dias choram a morte de seus filhos no Brasil (mais freqüentemente nos finais de semana). 
</p><p>
Isto nada tem relação com o tráfico. 
</p><p>
O "olhar de maldade", citado muito bem na música do Mc Daleste, continuaria. 
</p><p>
Apenas as mortes sairiam muito caras para qualquer assassino, pois estes passariam a ir a júri. 
</p><p>
Isto evitaria as mortes (no México cada região tinha uma taxa de elucidação de homicídios, as regiões com maior resolução de homicídios possuíam menos homicídios - investigar reduz homicídios). 
</p><p>
Até o olhar de maldade diminuiria. 
</p><p class="well">
A maldade mais profunda reside na morte. 
</p><p>
Ver os outros morrerem. Já mortos ou ver o acontecimento em si. Ou eventualmente matar. 
</p><p>
Fora da rota da morte, o tráfico é faculdade e curso técnico de administração de empresas. 
</p><p>
Contabilidade, vendas, vender mais barato, dominar o mercado. 
</p><p class="well">
Sem mortes, restando apenas análises contábeis e disputa por poder, diminui ou termina o olhar de maldade do traficante. 
</p><p>
Sem morte, a habilidade comercial do traficante pode até ser considerada habilidade para empresas em áreas permitidas. Contratar gerentes do tráfico para administrar mercados legítimos, saindo da ilegalidade do tráfico, pode trazer uma grata surpresa para empresa legítimas, que passariam a aproveitar a facilidade gerencial precoce de tantos mal aproveitados talentos, porém em finalidades legítimas. 
</p><p>
Sem morte. 
</p><p class="well">
A morte é o veneno que penetra no olhar (que passa a conter a maldade). 
</p><p>
A morte é o problema a ser evitado. 
</p><p>
Muito obrigado pelo interesse em ler um artigo inteiro para aumentar a segurança no Brasil.
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
<br>
Observação: investigar reduz homicídios. Os cientistas ou estudantes podem se convencerem observando as diferentes regiões do México. Lá, onde havia mais investigação de homicídios, havia menos homicídios. Claro! <a href="http://www.mexicoevalua.org/wp-content/uploads/2013/02/MEX-EVA_INDX_SJPE-LOW.pdf" target="_blank">Investigar reduz homicídios. Veja no México</a>. Não precisamos passar dez anos anotando dados aqui no Brasil. basta investigarmos todos os nossos homicídios. É de graça e, se funcionar, podemos começar <a href="homicidios-100-porcento-investigados.html">agora mesmo</a>.
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-2'>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

      <div class='col-sm-2'>
      </div>

    </div>
  </div>

</div>

