---
layout: "layout"
title: "Microgestor da segurança."
tweet: "Microgestor da segurança."
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>Microgestor da segurança. Vai ficar esperando?</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2016-02-28"><br><span class="artigo-data">Porto Alegre, 28 de fevereiro de 2016.</span>
    </p>
    <h2 class='text-left'>
      O que parece melhor para a segurança de 200 milhões de brasileiros? 
    </h2>
    <br>
<p class="well" style="text-align:left; font-size:100%">
"Ser sócio na segurança com os 200 milhões de brasileiros".
</p><p>
ou
</p><p>
<p class="well" style="text-align:left; font-size:100%">
"Combater os 200 milhões de brasileiros com 1 milhão de policiais em posição de inimigo".
</p><p>
<i>"Quanto mais próximo for o relacionamento entre o policial e as pessoas na sua ronda, quanto mais pessoas ele conhecer e quanto mais essas pessoas confiarem nele, maiores são suas chances de reduzir o crime."</i> Charlie Silberman, Criminal Violence, Criminal Justice, 1978.; e
</p><p>
<i>"A premissa central do policiamento comunitário é que o público deve exercer um papel mais ativo e coordenado na obtenção da segurança. O público deve ser visto como 'co-produtor' da segurança e da ordem juntamente com a polícia"</i>. Policiamento Comunitário, Bailey e outro autor, EDUSP.
</p><p>
Produzir segurança com 200 milhões de sócios é mais atraente, ao menos aparentemente, do que produzir segurança com apenas 1 milhão de policiais. E, ainda por cima, tendo 200 milhões de cidadãos em posição de inimigo, ao invés de em posição de co-produtores da segurança.
</p><p>
Caso a configuração de população como co-produtora da segurança (200 milhões de sócios da polícia!) tenha lógica, pelo menos aparentemente, então em algum momento será melhor cada policial receber treinamento para estar <i>ao lado da</i>, e <i>não de frente para</i>, a população.
</p><p>
Sei que "de vez em quando não dá para ficar ao lado".
</p><p>
Estou falando da tentativa primeira, qual seria, ficar ao lado, conversar, ser uma coisa bonita, observem as palavras: 
</p><p class="well">
"um microgestor da segurança em seu território". 
</p><p>
Conversar, selecionar os mais influentes do território, trazê-los para produzir segurança junto.
</p><p>
Sei. Isto não é para soldado estrito cumpridor de ordens do alto. Não é guerra, mais. 
</p><p>
E agora?
</p><p>
Não sei. 
</p><p>
Soldados passariam a ser
</p><p class="well">
microgestores.
</p><p>
Olha a diferença.
</p><p>
Iriam ver na hora, como se posicionar ao lado da população. Alguns iam ter mais facilidade. Darão palestras para os demais. Muitos poderiam pegar o jeito da "microgestão" do território.
</p><p>
Chefes que já, como heroína, não conseguem mais ficar sem gente para mandar, leia-se soldados, acho que vão ter que substituir estes desejos por outras maneiras de se satisfazerem.
</p><p class="well">
Porque microgestor é parente de gestor. Não de soldado.
</p><p>
A valorização salarial, caso a tarefa se cumpra, certamente aparecerá.
</p><p>
Na verdade, não queria dizer assim, tão direto, mas as tarefas simples, de obedecer sem pensar, estão sumindo do planeta.
</p><p>
A internet nos responde tudo que não precisa de raciocínio.
</p><p>
Mapas, formulários de ocorrências simples, até o telemarketing, mudando as gerações, vão sendo substituídos por formulários de internet e manuais online. Podemos ouvir isso! Já não somos atendido por pessoas, ficamos minutos com robôs nos tele-atendimentos, pois eles conseguem nos direcionar para as tarefas mais simples, como efetuar uma recarga, saber quanto devemos, receber cópia da fatura por email.
</p><p>
Quem vai sobreviver?
</p><p class="well">
Microgestores. Consultores. Quem resolver problemas que não estão em formulários simples e na internet.
</p><p>
Soldados, deixem de ser soldados, antes que não exista mais funções para soldados fora da área militar, como nos diversos desafios de segurança pública.
</p><p>
Já está acontecendo! <a href="http://www.policiacivil.ap.gov.br/index.php?option=com_ckforms&view=ckforms&id=4&Itemid=100" target="_blank">Automação de tarefas de segurança simples no Amapá</a> | <a href="https://www.delegaciaonline.rs.gov.br/dolpublico/index.jsp" target="_blank">no Rio Grande do Sul</a> | <a href="https://delegaciavirtual.sids.mg.gov.br/" target="_blank">na terra do pão de queijo</a> | <a href="http://boletimdeocorrencia.net/boletim-de-ocorrencia-df-online-registrar/" target="_blank">até no Distrito Federal</a>
</p><p class="well">
Vamos ficar esperando? Bom debate, criticando e corrigindo meus, nossos, erros, a todos nós.
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_homicidio_zero"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

