---
layout: "layout"
title: "O Brasil dos bombons. O Brasil dos homicídios."
tweet: "O Brasil dos bombons. O Brasil dos homicídios."
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>O Brasil dos bombons. <br>O Brasil dos homicídios.</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2015-10-08"><br><span class="artigo-data">8 de outubro de 2015.</span>  
    </p>
    <h2 class='text-left'>
    </h2>
    <br>
    <p class="well">
Acaba de ser divulgado novo recorde de homicídios: <a href="http://g1.globo.com/politica/noticia/2015/10/brasil-registra-58-mil-mortes-violentas-em-2014-mostra-estudo.html" target="_blank">58,5 mil homicídios</a>. Destes, 54 mil não receberão solução (92%), se mantidas as taxas de ineficiência dos anos anteriores.
</p><p>
No mesmo momento em que acaba de perder o emprego zeladora por <a href="http://g1.globo.com/rr/roraima/noticia/2015/10/zeladora-e-autuada-por-furto-em-rr-ao-comer-chocolate-de-delegado-da-pf.html" target="_blank">furto qualificado de bombom</a>.
</p><p>
Os próprios meios de comunicação estão sentindo o baque de que enquanto a segurança pública brasileira continua submersa; bombom de certas castas recebem investigação célere com perda de emprego imediata (telefonema no mesmo dia). 
</p><p>
É o que os homicídios precisariam: investigação, telefonemas, <a href="https://docs.google.com/document/d/11tYMNmVxwCV-NMBQU2s4d-fWNAjDRTGanqpMZfKqX_0/edit#heading=h.k6mcxzhpe51e" target="_blank">no mesmo dia</a>. Encontrariam o autor em pelo menos metade dos casos, para mais. Afinal, nossos assassinos não são especialistas em esconder evidências, nossa segurança pública é que está desenhada para não encontrar evidências de homicídios. 
</p><p>
Mas está desenhada para encontrar evidências de furtos qualificados de bombom em interesses próprios de castas especiais, que será que se preocupam menos com os 92% de homicídios insolúveis, e mais com seus chocolates?
</p><p>
No que o Brasil está mais carente? 
</p><p>
Carente de investigar homicídios, que ocorrem predominantemente onde moram as pessoas mais simples - como a zeladora que perdeu o emprego?; 
</p><p>
Ou de investigar furtos qualificados de bombons, bombons pertencentes a uma casta com salários para residir em áreas nobres?
</p><p>
Zeladora foi acusada de furto qualificado de bombons, apurou a <a href="http://g1.globo.com/rr/roraima/noticia/2015/10/zeladora-e-autuada-por-furto-em-rr-ao-comer-chocolate-de-delegado-da-pf.html" target="_blank">reportagem do G1</a>. Perdeu o emprego e parte da dignidade. Ela mesma disse que se sentiu constrangida. Não foi aceito quando ela ofereceu pagar o bombom de volta. "Me ofereci para pagar o chocolate”, disse a zeladora, mas o delegado não aceitou, apurou a <a href="http://g1.globo.com/rr/roraima/noticia/2015/10/mpf-em-rr-vai-apurar-possivel-abuso-de-poder-de-delegado-contra-zeladora.html" target="_blank">reportagem do G1</a>.  Ou seja, quando a zeladora tentou - ao menos - recuperar parte de sua dignidade - oferecendo pagar de volta o bombom, com seu dinheiro, com orgulho e em uma tentativa de obter sensação de ser justa - isto não foi permitido. 
</p><p class="well">
Quando nos encontramos em condições de menor capacidade financeira, zelamos mais por nossa dignidade do que pelos imóveis ou carros que não possuímos. 
</p><p>
Não foi proporcionada esta oportunidade de recuperação de dignidade para a zeladora, constrangida e envergonhada - além de desempregada.
</p><p>
A mulher foi colocada desempregada e sem poder recuperar a dignidade para chegar em casa tendo que encontrar - e o que dizer para eles? - seus quatro filhos. 
</p><p>
Provavelmente em um bairro em que, para cada 100 homicídios, 92 não recebem solução. 
</p><p>
Assim, seguem os 2 Brasis há séculos: 
</p><p>
1) o Brasil da zeladora, com homicídios e mais dignidade do que bombons; 
</p><p class="well">
2) o Brasil dos bombons - e não ouse tocar neles.
</p>
<br>
<br>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-2'>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

      <div class='col-sm-2'>
      </div>

    </div>
  </div>

</div>

