---
layout: "layout"
title: "O cidadão não é seu inimigo."
tweet: "O cidadão não é seu inimigo."
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>O cidadão não é seu inimigo.</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2016-02-28"><br><span class="artigo-data">Porto Alegre, 28 de fevereiro de 2016.</span>
    </p>
    <h2 class='text-left'>
      Interessante raciocínio, achei simples e forte, como negar? 
    </h2>
    <br>
<p class="well" style="text-align:left; font-size:100%">
"O cidadão não é seu [do policial] inimigo". 
</p><p>
Isto realmente tiraria de contexto a organização militar hoje praticada.
</p><p class="well">
Será que poderíamos argumentar que o "bandido", este sim, é inimigo, e que portanto justificaria a atual organização militar das polícias militares?
</p><p>
Esta é a questão que poderia ser feita, e seria mais difícil de ser respondida do ponto de vista puramente "filosófico": o "bandido" é inimigo?; quem define inimigo?; o engravatado que simula queda nas ações desfalcando outras dez mil pessoas na bolsa de valores é inimigo?; o ladrão mal vestido com uma sandália é inimigo?; com tantos crimes possíveis, quem garante que eu não serei o inimigo algum dia; ultrapassando a velocidade limite nas ruas, somente freando no radar; em uma briga; assistindo a eventuais filmes piratas; tem "inimigo" e "INIMIGO"; quem define? 
</p><p>
Mas não precisamos entrar em filosofia nenhuma para resolver problemas, ou questões práticas, como esta. 
</p><p class="well">
A estatística nos responde que a imensa maioria dos "crimes" atendidos pelas polícias militares não são crimes mas, sim, ocorrências de "desinteligência", como brigas conjugais, excesso de bebedeira, brigas entre vizinhos.
</p><p>
Então poderíamos tranquilamente pular a discussão filosófica "profunda" e perceber que o atual imenso atendimento das polícias militares é para o cidadão, não inimigo nem bandido.
</p><p>
Quando então a frase, que ouvi de um iluminado cidadão, ganha muita força e efeito: 
</p><p class="well">
"O cidadão não é seu [do policial] inimigo".
</p><p>
Realmente. 
</p><p class="well">
A ampla maioria dos atendimentos é para o cidadão, desarmado, apenas armado de palavras bravas, eventuais maus humores, bebedeiras, senso de injustiça com vizinhos.
</p><p>
Com toda a energia do mundo seguirão existindo todos os grupos militares. Sim. 
</p><p>
Militares até o fundo da alma, ou seja, aquartelados e treinados constantemente, como já existem o Comando de Operações Táticas na Polícia Federal; os diversos Grupos de Operações Especiais nas Polícias Estaduais, aquelas viaturas especiais, com as siglas GOE, COT. 
</p><p>
Com policiais que possuem "escritórios" com rapel, periódicos treinamentos de tiro ao alvo de fuzil e demais armas, treinamentos com granadas de luz e som. 
</p><p>
Procurando e recebendo tecnologias como fuzis que permitem cobrir curvas e ângulos com segurança, usando câmeras ao invés de lentes, treinamento de atiradores de longa (longa mesmo!) distancia, habitualidade de treinamento em helicóptero, entrada em grupos com bom número de opções de formação. 
</p><p>
Com o senso de time, desde o treinamento em condições severas, criando e fortalecendo o senso de equipe, até o próprio entrosamento, como em um (bom!) time de futebol. 
</p><p>
Porque 1% das ocorrências, uma em cada cem, estas sim, são contra bandidos, não apenas brigas domésticas nem discussões entre vizinhos. Nem prevenção de crimes, nem a amigável co-participação da população, preventiva da segurança, no bairro em que atuam.
</p><p>
Não.
</p><p>
Às vezes não é fácil.
</p><p>
Às vezes aparecem INIMIGOS.
</p><p>
Os grupos de estrutura militar já existem, no Brasil e no mundo todo, para lidar com poderosos INIMIGOS da sociedade, bem armados e perigosos.
</p><p>
Então uma frase - a frase de um ilmunidado cidadão, que tive o privilégio de anotar - é bastante suficiente, quem diria, para demonstrar a não necessidade da vinculação de uma polícia inteira, como a polícia  militar, às forças armadas e, sendo das forças armadas de guerra, ficando próxima da sua estrutura de combater o inimigo.
</p><p class="well">
"O cidadão não é seu [do policial] inimigo".
</p><p>
Para os inimigos, aqueles 1% bravos e bem armados inimigos, toda polícia, não militar, já está, neste momento, com o seu COT, GOEs, Grupo Especial, também bem armado, treinado e pronto para - então sim! - a Guerra. 
</p><p>
Apenas para aqueles 1%, não para os 99% de cidadãos.
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_homicidio_zero"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

