---
layout: "layout"
title: "A violência está perto? Conseguimos calcular"
tweet: "A violência está perto? Conseguimos calcular"
---

<div class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 class='text-left'>
      A violência está perto?
    </h1>
    <br>
    <p>
Uma vítima de violência sempre é conhecida de alguém, possui uma família, via de regra mora em uma casa. 
</p><p class='text-center well'>
Pense uma doença tão rara, que faça apenas uma vítima em todo o país.
</p><p>
Esta vítima certamente é conhecida por um bom número de pessoas, faz parte de uma família, provavelmente reside em uma casa. Portanto uma ou duas centenas de pessoas se sensibilizarão bastante com a notícia da doença, dentre todos os conhecidos, amigos, familiares e residentes da mesma casa da vítima.
</p>
<p class='text-center well'>
Para cem ou duzentas pessoas mais próximas da vítima - conhecidos, amigos, familiares - a notícia de uma doença ou violência é mais dramática.
</p><p>
A vítima desta rara doença afeta mais profundamente a vida de duzentas pessoas que a conheciam. Mas e todos os demais brasileiros? 
</p><p>
Em um país com duzentos milhões de pessoas como o Brasil, a vítima será desconhecida para mais de 199 milhões de brasileiros.
</p><p class='text-center well'>Podemos perguntar: quantos conhecidos o brasileiro perderá para uma doença que acometa apenas uma pessoa em todo o país?
</p><p>
No caso desta doença rara, é esperado que o brasileiro não perca nenhum conhecido para esta doença. Claro! Observe:
</p><p class='text-center well'>
199,99 milhões de brasileiros não perderão nenhum conhecido para uma doença que acometa apenas uma pessoa em todo o país. 
</p><p>
Apenas os duzentos conhecidos e familiares da vítima serão mais profundamente afetados pela perda.
</p><p>
Para todos os outros 199,99 milhões de brasileiros a vítima será desconhecida.
</p><p class='text-center well'>
Em um cenário destes, é mais correto prever que o brasileiro "médio" não perderá nenhum conhecido para esta doença. 
</p><p>
Pode até acontecer! 
</p><p>
Esta raríssima doença pode afetar precisamente um familiar seu, ou um conhecido seu. 
</p><p>
Mas certamente não era o esperado, em média, de acordo com os dados dos anos anteriores. 
</p><p>
Para todos os outros 199,99 milhões de brasileiros a vítima será desconhecida.
</p><p>
Ok. Mas quem quer realmente saber de doença tão rara que só afetaria uma pessoa? 
</p><p class='text-center well'>
Ao invés de doença rara, como podemos fazer previsões para fatos que realmente nos atingem? 
</p><p>
Como podemos fazer previsões para roubos? Assassinatos? 
</p><p>
Até mesmo para epidemias como a dengue?
</p><p>
Assassinatos nos atingem muito. O Brasil é o país onde ocorrem mais assassinatos em todo o mundo: são 50 mil assassinatos por ano. 
</p><p>
Não tem nada de raro nisto. Ao contrário.
</p><p class='text-center well'>
Ao longo de setenta anos - uma vida inteira - mais de 3 milhões de pessoas terão sido assassinadas em todo o Brasil se forem mantidas as taxas de hoje. 
</p><p>
Este é um cenário bem diferente. 
</p><p>
Ao longo de uma vida inteira, ocorrendo milhões de assassinatos dentre os milhões de brasileiros, podemos dizer que é esperado que o brasileiro não perca nenhum conhecido assassinado, como no caso da doença rara explicada anteriormente? Claro que não! Observe:
</p><p class='text-center well'>
O autor mediu que roubos, assassinatos, crimes e violências em geral, no Brasil, acontecem em quantidades suficientes para que se possa dizer que todo brasileiro, em média, terá algum conhecido vítima de crime. 
</p><p>
Pergunte a si mesmo:        
</p><p class='text-center well'>
      Você conhece alguém que foi assassinado? Ou vítima de roubo? Quantos? Eram familiares? Conhecidos? De casa?
</p><p>
Onde as taxas de violência são maiores, a chance da violência atingir um ou mais familiares ao longo da vida é maior. Essa é a realidade das regiões mais vulneráveis no Brasil.
</p><p>
Onde a incidência é rara, pode ser que nenhum conhecido nem familiar tenha sido vítima de violência na região - somente desconhecidos. Essa é a realidade dos países mais desenvolvidos: Alemanha, Japão.
</p><p class='text-center well'>
Como calcular? <br>Como prestar este serviço para a população?
</p><p>
Como podemos informar que - mantidas as atuais taxas - se espera que ao longo da vida tal violência vitime tantos familiares?
</p><p>
Avisar os moradores do bairro, informar as prefeituras, os estados, todo o país?
</p><p>
Este foi o desafio proposto pelo autor Vladimir Bergier Dietrichkeit.
</p><p>
E foi resolvido!
    </p>
    </div>
    <div class='col-sm-3'></div>

        
  </div>

  <%= partial "layouts/_formula"  %>   

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_artigo"  %>      
      </div>

    </div>
  </div>

</div>

