---
layout: "layout"
title: "Violência Próxima ou Distante?"
---

<div class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <h2 class='text-left'>
      Violência: Próxima ou Distante?
    </h2>
    <p>
Uma vítima de violência sempre é conhecida de alguém, possui uma família, via de regra mora em uma casa. 
</p><p class='text-center well'>
Pense uma doença tão rara, que faça apenas uma vítima em todo o país.
</p><p>
Esta vítima certamente é conhecida por um bom número de pessoas, faz parte de uma família, provavelmente reside em uma casa. Portanto uma ou duas centenas de pessoas se sensibilizarão mais com a notícia da doença, dentre todos os conhecidos, amigos, familiares e residentes da mesma casa da vítima.
</p>
<p class='text-center well'>
Para as cem ou duzentas pessoas mais próximas da vítima - conhecidos, amigos, familiares - a notícia de uma doença ou violência é mais dramática.
</p><p>
As cem ou duzentas pessoas que conheciam a única vítima do país são mais afetadas pela notícia. Mas e todos os demais brasileiros? 
</p><p>
Em um país com duzentos milhões de pessoas como o Brasil, a vítima será desconhecida para mais de 199 milhões de brasileiros.
</p><p class='text-center well'>Em média, podemos perguntar: quantos conhecidos o brasileiro perderá para uma doença que acometa apenas uma pessoa em todo o país?
</p><p>
No caso desta doença rara, é esperado que o brasileiro não perca nenhum conhecido para esta doença.
</p><p class='text-center well'>
199,99 milhões de brasileiros não perderão nenhum conhecido para uma doença que acometa apenas uma pessoa em todo o país. 
</p><p>
Apenas cem, duzentas pessoas, o grupo de conhecidos e familiares da única vítima no Brasil, serão afetadas pela perda do único brasileiro vitimado pela doença.
</p><p>
Em um cenário destes, aproxima-se mais da realidade prever que o brasileiro "médio" não perderá nenhum conhecido para esta doença. Pode até acontecer - a doença pode afetar precisamente um familiar seu, ou um conhecido seu - mas certamente não era o esperado, em média, de acordo com os dados dos anos anteriores. Os outros 199,99 milhões de brasileiros não perderão nenhum conhecido nem familiares para esta doença rara.
</p><p class='text-center well'>
Ao invés de uma doença rara, como podemos fazer previsões para os fatos que mais nos afetam? 
</p><p>
Como podemos fazer previsões para roubos, assassinatos, crimes ou violências em geral, ou até mesmo para epidemias como a dengue?
</p><p>
Entre outros crimes, o Brasil nos últimos anos é o país onde ocorrem mais homicídios em todo o mundo: são 50 mil por ano. 
</p><p class='text-center well'>
Em setenta anos, aproximadamente a expectativa de uma vida inteira, mais de 3 milhões de pessoas terão sido assassinadas em todo o Brasil, caso a taxa se mantenha. 
</p><p>
Este é um cenário bem diferente, nada raro. Ocorrendo milhões de assassinatos ao longo da vida, dentre os milhões de brasileiros, será que podemos dizer que é esperado que o brasileiro não perca nenhum conhecido assassinado, como no caso da doença rara exemplificada anteriormente? O autor acredita que não.
</p><p class='text-center well'>
O autor mediu que roubos, assassinatos, crimes e violências em geral, no Brasil, acontecem em quantidades suficientes para que se possa dizer que todo brasileiro, em média, terá algum conhecido vítima de algum crime. 
</p><p>
Pergunte a si mesmo.        
</p><p class='text-center well'>
      Você conhece alguém que foi assassinado? Ou vítima de roubo? Quantos? Eram familiares? Conhecidos? De casa?
</p><p>
Em regiões onde as taxas de violência ou epidemia são maiores, há mais chance da violência atingir um ou mais familiares ao longo da vida. Em regiões onde a incidência é rara, pode ser que nenhum conhecido ou familiar tenha sido vítima da violência ou epidemia na região, somente desconhecidos.
</p><p class='text-center well'>
Como calcular essa expectativa? <br>Como prestar este serviço para a população?
</p><p>
Como informar que se espera, se mantidas as atuais taxas, que tal doença ou epidemia vitime tantos familiares? Informar no bairro, informar a expectativa para todo o estado, informar a taxa média de todo o país?
</p><p>
Este foi o desafio auto-proposto pelo autor Vladimir Bergier Dietrichkeit.
    </p>
    </div>
    <div class='col-sm-3'></div>

        
  </div>

  <%= partial "layouts/_formula"  %>   

  <p class='text-right'><a href="circulos_pessoais.html">Círculos pessoais mais afetados pela violência >></a></p>




  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_artigo"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

