---
layout: "layout"
title: "Rio de sangue."
tweet: "Rio de sangue."
---

<div itemscope itemtype="http://schema.org/Article" class='container'>
  <div class='row text-justify'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
    <br>
    <h1 itemprop="name" class='text-left'>
      <b>Rio de sangue.</b>
    </h1>
    <p>
      <span itemprop="author">Por Vladimir Bergier Dietrichkeit</span>. 
      <meta itemprop="datePublished" content="2016-02-28"><br><span class="artigo-data">Porto Alegre, 28 de fevereiro de 2016.</span>
    </p>
    <h2 class='text-left'>
      Contra ou a favor da desmilitarização, vivemos a seguinte poesia do ciclo perverso:
    </h2>
    <br>
<p class="well" style="text-align:left; font-size:100%">
O afastamento da comunidade incita a violência. <br>
A violência incita o militarismo/combate. <br> 
O militarismo/combate se afasta da comunidade. <br> 
</p><p style="text-align:left; font-size:120%">
O afastamento da comunidade incita a violência. <br>
A violência incita o militarismo/combate. <br> 
O militarismo/combate se afasta da comunidade. <br> 
</p><p style="text-align:left; font-size:140%">
O afastamento da comunidade incita a violência. <br>
A violência incita o militarismo/combate. <br> 
O militarismo/combate se afasta da comunidade. <br> 
</p><p style="text-align:left; font-size:200%">
O afastamento da comunidade incita a violência. <br>
A violência incita o militarismo/combate. <br> 
O militarismo/combate se afasta da comunidade. <br> 
</p><p>
Como nos posicionarmos, Deus?:
</p><p class="well">
"O afastamento da comunidade incita a violência." <br>
 - Desmilitarização! Comunidade!
</p><p class="well">
"A violência incita o militarismo/combate." <br>
 - Militarização! Combate!
</p><p>
Militar ou Desmilitar, <br>a música segue, a poesia segue, o rio segue
<br>
com Sangue.
</p><p>
Vladimir Bergier Dietrichkeit.
</p><p>
</p>

  </div>

  <div class='col-sm-3'></div>

        
</div>

  <!-- Ação: clicks -->
  <div class='container'>
    <div class='row text-center well'>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_previsoes"  %>
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_homicidio_zero"  %>      
      </div>

      <div class='col-sm-4'>
        <%= partial "layouts/_btn_contato"  %>      
      </div>

    </div>
  </div>

</div>

